[2020-05-30 07:54] kushwiz commented on #1524
Ok. `on_deliver` hook will not work for my use case.

I can send timestamp from source, but how will LWT be handled in this case?
I cannot dynamically set `%timestamp%` in my LWT message.

[2020-05-30 08:17] kushwiz commented on #1524
It would be great if I could mutate the payload using the `on_publish` hook.

[2020-05-30 08:22] ioolkos commented on #1524
`on_publish` is only a notification hook. You could change the payload in `auth_on_publish`.

[2020-05-30 08:57] kushwiz commented on #1524
I understand.  My concern is that LWT does not trigger the `auth_on_publish` hook

[2020-05-30 09:23] ioolkos commented on #1524
Correct, a Last Will publish will not trigger `auth_on_publish` (it got already authorised at connect time). It will trigger `on_publish` but then you cannot change the payload.

[2020-05-30 09:28] kushwiz commented on #1524
LWT does not trigger `on_publish`.

[2020-05-30 13:45] ioolkos commented on #1524
Note that the LW message will only be sent for *disgraceful* disconnects. When the clients sends a DISCONNECT packet, the LW message will not be sent.

[2020-05-30 23:07] HowellTan commented on #1525
@ioolkos thanks for responding! I had those ports open and normal vmq.clustering works fine. I looked more into the crash logs, and noticed this line:

[code]
listener.vmqs.cafile = /etc/vernemq/ca.crt
listener.vmqs.certfile = /etc/vernemq/server.crt
[code]

[2020-05-30 23:07] #1525 closed

[2020-06-01 13:25] Safari94 commented on #519
Hi,

I am facing the same issue :(
**### I am using:**
->Vernemq clone from repo
->Ubuntu 20.04 LTS
->PostgreSQL 12.2 (Ubuntu 12.2-4)

**### Logs from console.log**

vermemq.conf

![image](https://user-images.githubusercontent.com/11853732/83412671-70f9b100-a412-11ea-87ca-fa50ec9400bc.png)

![image](https://user-images.githubusercontent.com/11853732/83412719-88d13500-a412-11ea-8cb2-b2793e51e3fd.pn

[2020-06-01 13:38] ioolkos commented on #519
@Safari94 I don't know what's wrong here, the plugin itself seems to be working. It tells you it can't authenticate the client. Double-check everything. You seem to partially copy/paste from the previous user (issue opener), so double check that too.

[2020-06-01 15:23] Safari94 commented on #519
@ioolkos I already did that. In order to create the DB I used the documentation provided on VerneMQ website.
![image](https://user-images.githubusercontent.com/11853732/83424130-e8840c00-a423-11ea-8810-88d8178f13e9.png)
Already remove the pgcrypto extension and creat it again.
I am testing using MQTTbox and the script form the issue opener.

![image](https://user-images.githubusercontent.com/11853

[2020-06-01 21:23] sooslaca opened #1526 "auth_on_register plugin, based on client cert field value (not CN)"
Hi group,

I'm seeking an advice if I can easily write a plugin for VerneMQ which carve out specific fields from Client Certificate and use that for authentication.
I never worked with erlang, but read the documentation.

I do believe I need the hook on [`auth_on_register`](https://docs.vernemq.com/plugindevelopment/sessionlifecycle#auth_on_register-and-auth_on_register_m5).
I think I also found w

[2020-06-01 21:42] ioolkos commented on #1526
Hi @sooslaca I think that's currently not possible. The `auth_on_register` hook is called downstream of the SSL connection setup (where the `verify_peer` step happens).

What is the exact use case here?

[2020-06-02 06:52] sooslaca commented on #1526
Hi @ioolkos , thanks for your response.

My use case would be to carve out 'Organization' from the Client Certificate and use that as identity and also post a message on a special topic when client authenticates (with Client Cert only, no username or password)

So as you said it's not currently possible but I can 'patch' https://github.com/vernemq/vernemq/blob/master/apps/vmq_server/src/vmq_ssl.er

[2020-06-02 07:13] ackratos commented on #1509
![image](https://user-images.githubusercontent.com/1442921/83490787-3d3a8c00-a4e3-11ea-8bdc-9d5721e28ebe.png)

Thanks a lot. I reproduced the issue with real use case with a local vernemq server, looks like the server cut the connection because of too many of retransmittion and dup ack. Too small tcp window (500B) might be the cause. Normally the tcp packets are around 1400+ Bytes.

The roundtrip

[2020-06-02 08:31] ioolkos commented on #1526
First, let's make sure that using the Common Name as username is not what you are looking for (that's a question)
https://github.com/vernemq/vernemq/blob/1070185141827fb1325d57c25c87dab345b3ad7e/apps/vmq_server/priv/vmq_server.schema#L1365

Supposing it's not, the place to look into the client cert is the `verify_fun` of the Erlang SSL implementation. The `verify_fun` is a form of hook that can be

[2020-06-02 09:16] ioolkos commented on #1504
Just for reference, there was a patch for ARM64 here. I don't think this is merged. https://github.com/dergraf/eleveldb/commit/44c41a2c8e4a6c453b407d00e6a0eb2b3db9b72a

Maybe useful for comparison.

[2020-06-02 09:32] sooslaca commented on #1526
thanks @ioolkos for the hints on how to possibly move forward. I'll dig the hints and try to implement my needs (yes, it's NOT CN). Let me close this issue as this really a non-issue thread.

[2020-06-02 09:36] seth-priya commented on #1504
@ioolkos yes, thanks - I have been referring to this patch as well. The one issue that I am looking at currently is that one leveldb test case fails on Power. I want to be sure that all automated tests pass for leveldb, eleveldb and vernemq or are atleast consistent with/without changes on both Intel and Power before a submit a PR.

Thanks for the pointer, though!!

[2020-06-02 09:43] ioolkos commented on #1504
Oh, okay, thanks. I haven't yet had the time to look into your patch. Is some LevelDb related test failing, or still the Redis one?

[2020-06-02 09:56] seth-priya commented on #1504
The redis one is still there and is reproducible on Intel, so its likely that I am missing some configuration or such.

Besides this one there is one leveldb test failure i.e. one of the automated tests in basho/leveldb fail with my patch on Power
db/skiplist_test.cc:273: Assertion failure (gen(pos) == 0) || (gen(pos) > initial_state.Get(key(pos))) key:  3 ; gen:  1 ; initgen:  72
This is with the

[2020-06-02 16:55] vytasmk commented on #1466
Hello, looking at the exact same situation on v1.9.2 that is running on official Docker image.

I was looking at the Grafana graphs and did not understood what is happening and why open sockets are growing faster than closed sockets. See pic. below where "Connected clients" are calculated from `socket_open - socket_closed` counters. After fresh restart broker counters were showing correct results

[2020-06-02 17:03] ioolkos commented on #1466
@vytasmk can you post full output of `vmq-admin metrics show`?

anything from the logs when this started?

[2020-06-02 18:48] vytasmk commented on #1466
[code]

There are usually around 6100 active clients that come from all ower the world and stay connected. They send some statistics as JSON every 2 min. so not so much traffic. If they disconnect they try to reconnect immediately but needs to connect and disconnect three times (such logic was created few years ago): first connection nonSSL to retrieve CA scertificate, then disconnect and reconnec

[2020-06-02 21:20] ioolkos commented on #1466
Hm, interesting.
There's a high number of `counter.socket_close_timeout = 287291` but other than that I can't spot anything unusual for the moment.
Could some system resources be silently exhausted? File descriptors or the like (OTOH this would certainly show in the logs).
The 3x connection "handshake" your clients are doing is also interesting.

[2020-06-03 09:52] sooslaca commented on #1526
Hi @ioolkos , I dig into your idea a bit. `ssl_verify_fun` I believe is responsible for validating the actual client certificate, which is fine and is required all the cases to be secured. (not expired, etc...)

What I found vernemq extract the CN to be the `preauth` here:
https://github.com/vernemq/vernemq/blob/1070185141827fb1325d57c25c87dab345b3ad7e/apps/vmq_server/src/vmq_ranch.erl#L121

and h

[2020-06-03 12:37] Fossil01 commented on #1508
Is there any ETA on this by any chance?

[2020-06-03 12:56] #1517 closed

[2020-06-03 13:40] ioolkos commented on #1526
No bandwidth to explore this 100% but you can try to look into something like this: https://github.com/vernemq/vernemq/blob/4ce9ac13eb6351402a1a9d7cf07fe56e69086f4a/apps/vmq_server/test/vmq_ssl_SUITE.erl

That is register a module as an `auth_on_register` hook. Do your logic in your module. Enable the module plugin via normal `vmq-admin plugin enable` command. This way you'd only have to compile a

[2020-06-03 15:01] gloffreda opened #1528 "Messages being queued"
Hi there

I just setup a new cluster that handles around 400msgs/minute and looking at status page got it:

![image](https://user-images.githubusercontent.com/8357905/83652247-c8259000-a590-11ea-91e8-03ea78865a57.png)

Msgs Queued is growing very slow, but never seen it before.
Is there a way to understand why some messages are being queued ?

Thanks

[2020-06-04 09:01] ioolkos commented on #1528
@gloffreda look at the Javascript to see the definition of Msg Queued.
Maybe it's your 2 persistent sessions getting some messages in their offline queues?

[2020-06-04 14:31] gloffreda commented on #1528
Hi @ioolkos interesting. Didn't realize the JS before. Thanks
Is there a way to get who are those in offline status ?
The number of queued messages is growing and I'm afraid it will take, eventually, all resources if not stoped.
Thanks

[2020-06-04 14:36] ioolkos commented on #1528
`sudo vmq-admin session show --help`

[2020-06-04 19:05] gloffreda commented on #1528
Awesome @ioolkos thanks.
I'm dealing with something new then.
We have a topic named /downstream.
On version 1.9.2 single node it works normally. No message enqueued when publishing on same topic /downstream
The message is well delivered to client which is subscribed on it.

On version 1.10.1, using single cluster or 3 nodes as image above, every single publish on /downstream generates 4 Msgs Queue

[2020-06-04 19:36] #1497 closed

[2020-06-05 08:04] ioolkos commented on #1528
`sudo vmq-admin session show --client_id --offline_messages --topic --qos --statename --clean_session`

[2020-06-05 08:48] ertanden opened #1529 "Crash During Shutdown: bad argument in call to io_lib:format("Listeners are not ready: ~p", [mqtt,mqtt])"
### Environment

- VerneMQ Version: 1.10.2
- OS: Docker Alpine 3.9
- Erlang/OTP version (if building from source): 21.3
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone:

### Expected behavior

- No crash

### Actual behaviour

Issue happens when shutting down the node:
[code]

[code]

Probably crash happens because listeners were stopped but the hea

[2020-06-05 08:56] ioolkos commented on #1529
@ertanden thanks... does this have any operational impact? That is, does the crashing process escalate in any way? If at all this is probably bounded in escalation to a crashed Cowboy app.

[2020-06-05 09:03] ioolkos commented on #1529
Oh, I see, it's actually a bug in the format call.

[2020-06-05 11:05] ertanden commented on #1529
@ioolkos I'm not sure if this has operational impact. My wild guess would be no, but still I'm not exactly sure if this crash could cause a wrong behavior in cluster leave scenario.

We still are experiencing the issue in #1363. Basically when there are cluster leaves and joins after a while Messages don't get routed between publishers and subscribers on different nodes.

[2020-06-05 11:41] ioolkos commented on #1363
If message routing vs network layer is where the issue can be, I'd probably first look into the network layer (specifically inter-node communication on the vmq ports).
Yes, it's hard to investigate. A Wireshark would help, but propably difficult to capture. But at least you'd see whether there are connection resets and re-connects.

[2020-06-05 14:31] gloffreda commented on #1528
Hi @ioolkos

Don't know if I'm still doing or reading something wrong, but here we go

Momentum Zero
![image](https://user-images.githubusercontent.com/8357905/83881837-a0146900-a717-11ea-8825-214c24d81bf9.png)

![image](https://user-images.githubusercontent.com/8357905/83881899-b7535680-a717-11ea-9a97-218fd1f6d2c7.png)

Sub:
`mosquitto_sub -h myserver -u "usertest" -t "/downstream"  -i test-queue

[2020-06-05 14:43] ioolkos commented on #1528
then please compare the metrics to this. (`vmq-admin metrics show`)

[2020-06-05 14:47] gloffreda commented on #1528
I have:
`counter.queue_message_out = 1`

But my question is: Why a QoS = 0 published message got queued ?

[2020-06-06 05:53] sooslaca commented on #1526
Hi @ioolkos , yeah that would be my ideal place, problem is I’m not getting the client cert as a parameter in ‘auth_on_register’

Would it be possible to have the client cert sent to ‘auth_on_register’ if it exists so any further logic can be easily implemented?

Thank you

[2020-06-06 23:13] ertanden commented on #1363
I could actually reproduce the problem with a pretty deterministic scenario as follows (using the official `vernemq/vernemq:1.10.2-1` docker image:

1. Start `Node A`
2. Start `Node B` and join `Node A` (cluster state looks good)
3. Connect `Client 1` to `Node 1` and subscribe to `hello` (qos=1, not sure if important)
4. Connect `Client 2` to `Node 2` and subscribe to "hello" (qos=1)
5. Publish fr

[2020-06-07 05:55] ioolkos commented on #1363
@ertanden Thanks, can you show the exact client commands, or client tool used in your test?

[2020-06-07 09:47] ertanden commented on #1363
@ioolkos I used `mqtt-spy 1.0.1 beta 18` for the above scenario. However we experience the issue with our real services which use different clients for different languages (paho-java, mqttjs, mqttnet etc).

[2020-06-07 10:14] ioolkos commented on #1363
@ertanden thanks, any further context?

- logs?
- any workaround (for instance, does start working when you resubscribe on node A).
- Are the sessions persistent?
- can you show session and topic status for both clients on both nodes with `vmq-admin session show` tool?
- this status doesn't resolve over time, right? (it's not that it start reaching other subscriber after some cluster sync time or

[2020-06-07 10:27] ioolkos commented on #1363
In addition, does it make a difference whether the restarting Node B has the old Nodename or a new one?

[2020-06-07 13:31] ertanden commented on #1363
I can add some logs, but the scenario is pretty straightforward to reproduce step by step as I described above.

- No persistent sessions
- The status doesn't resolve over time by itself (at least not within a few minutes)
- I tried resubscribing Client 2 on Node B. At first few tries the state was the same, but after a few resubscribes the state was resolved and Client 2 started receiving message

[2020-06-07 14:37] ioolkos commented on #1363
Did a quick check, but can't seem reproduce this behaviour so far. This is with 2 completely fresh nodes, so that there is no potential other state to synchronise?

It looks like the subscriber is added, but the subscription is not yet "routable". Subscribing on the cluster node should fire `vmq_reg_trie:add_remote_subscriber/3` on the other node. This might not happen here or be delayed. Need to

[2020-06-07 14:49] ertanden commented on #1363
Forgot to mention. Node B has the same Node name and IP all the time, so after it leaves and re-joins it's with same Node name. The scenario happens with 2 completely fresh nodes, no previous data whatsoever.

[2020-06-07 15:05] ioolkos commented on #1363
Ok. Same nodename/IP should work, yes.

[2020-06-07 16:29] ioolkos commented on #1363
The current assumption is that the joining node is a newly booted node without any state.
I think what happens is that your client is re-connecting to node B before you issue the cluster join command, effectively creating a pre-loaded node.
If I do this too, I can confirm the behaviour you see.

[2020-06-07 16:38] ioolkos commented on #1363
*User friendly 1*: And well, to add to that, we should probably fail the cluster join command in the case the joining node has state.
*User friendly 2*: Could we actually make the joining of 2 pre-loaded nodes (or even clusters) work?

To ensure that a started node does not take connections before clustering, you could start the MQTT listener dynamically after making sure the cluster stands.

[2020-06-07 18:13] ertanden commented on #1363
Actually I tried both with clients auto re-connecting and also without auto re-connect where Client 2 connects after Node B re-joins the cluster with clean data. I see the problem in both cases.

Interestingly, I tried also another scenario where Node A and Node B are totally clean and there's no cluster yet formed. Client 1 and Client 2 are connected respectively to each Node and subscribed. Then

[2020-06-07 18:16] ioolkos commented on #1363
How do you delete state exactly? (what do you delete?)

[2020-06-07 21:06] #1529 closed

[2020-06-08 07:25] ertanden commented on #1363
I clear the state by removing/deleting the container after it leaves the cluster (there are no volumes attached, so it's guaranteed to be clean).

[2020-06-08 07:54] ioolkos commented on #1363
A very simple counter example for `user friendly 2`: device1 connected to A, device2 connected to B, but both using the same ClientID. Now you join A and B. A and B will eternally race each other.
You'd also have to merge authentication possibly.

Anyway, I can't reproduce the second case (empty node), tested in a non-Docker env.
But any further investigation is obviously welcome!

[2020-06-08 13:22] ackratos commented on #1509
@ioolkos after several days investigation, i am still wondering is there possible to set a timeout for the `ssl:send`? Sorry about I am not familiar with erlang -.-
[code]

[2020-06-08 23:12] gloffreda commented on #1528
Hi @ioolkos
Sorry to push it, but I'm afraid we are mistaken something and having some messages being lost.

We have a node app running in QoS = 2 subscription, clean-session=false.
Once I restart this app, some messages get queued.
Once the app gets back, same client-id as before, the msgs queued keeps the value.

as you can see below:
![image](https://user-images.githubusercontent.com/8357905/84

[2020-06-09 09:36] francois-travais commented on #1514
@ioolkos I'm using the service file embedded in the RPM you provide.
[code]
Indeed there is no restart section. But this doesn't explain why systemd is not able to see the process is dead.

[2020-06-09 16:40] ertanden commented on #1363
I would say in case when clientIDs are competing and a cluster is formed, the cluster needs to properly merge and resolve cluster issues. So, I would say it should just disconnect one of the clients as it does normally (maybe by checking the time of connection or just randomly choosing one, whatever makes more sense or is feasible). Sounds to me similar to a net-split behavior where the cluster ne

[2020-06-10 00:29] gloffreda opened #1532 "[Question] How does VMQ manage ACL memory using MongoDB ?"
Hi there

Our implementation is:

User has N devices, every each device is on ACL pub/sub collection column on our MongoDB.
An user can have 20... 30..100 thousands devices.

The case I have here now is, an user with 10k devices, then 10k pub/sub topics on ACL, VerneMQ jumped from 150MB regular use to 3GB ram.
However, the acl collection size is 8MB.

Is it correct to push every each device id on

[2020-06-10 10:37] Fossil01 opened #1533 "How to do cluster auto-discovery in Docker?"
Is it possible to use something like etcd for auto-discovery of VerneMQ containers to add them to a cluster?

There is an issue from 2017 which says you need to run a seperate VerneMQ container for this but that seems wrong in my mind. https://github.com/vernemq/vernemq/issues/150

Is this possible?

[2020-06-10 11:27] frodecat opened #1534 "Vernemq bridge to Azure IoT hub"
Hi!

I have been struggling for quite a while now to get the mqtt bridge to Azure IoT hub to work.

Do you have a working conf example with using SSL PSK to bridge VerneMq to Azure IoT Hub ?

I have only found a few precious bits and pieces around the web, but no complete working example.

Now I get this error after trying to start Vernemq console.

11:16:13.996 [error] gen_server <0.386.0> termin

[2020-06-10 11:54] ioolkos commented on #1534
The error seems to happen when the bridge tries to convert the given PSK from a string to a binary.

[2020-06-11 04:56] dsboo opened #1536 "what is mean [Msg Queued] in status web page?"
### Environment

- VerneMQ Version:1.10.1
- OS: CentOS Linux release 7.4.1708 (Core)
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone: cluster 3

### Expected behavior

when I view my vernemq cluster status page, always [Msg Queued] is increasing.
![image](https://user-images.githubusercontent.com/20632

[2020-06-11 05:29] ioolkos commented on #1536
You could check the Javascript here: https://github.com/vernemq/vernemq/blob/master/apps/vmq_server/priv/static/js/status.js

against the IP:8888/status.json it gets from Verne to see whether the numbers match up.

Note this line in the Javascript:
`msg_queued: cap_zero(this_node.queue_in - (this_node.queue_out + this_node.queue_drop + this_node.queue_unhandled))`

[2020-06-11 05:53] dsboo commented on #1536
@ioolkos
thanks for reply.

when i call [IP:8888/status.json], i got number below.

[code]

so msg_queued is 473608 = 492210151 - (491734563+619+1361).
how can i get the messages(473608)?
could you help me?

[2020-06-11 06:37] dsboo commented on #1536
i read other issue(#1528 ).
i think its almost same.

[2020-06-11 07:33] ioolkos commented on #1536
Sure, same issue. This has low prio at my end.
Remember those are all counters, representing the call flow, so it's possible there's an issue there.
For those 3k offline clients can you figure out whether they have messages stored? (maybe you know some of those ClientIDs and can query for those, use `vmq-admin session show --help` to see all options you have)

[2020-06-11 07:45] dsboo commented on #1536
thanks.
All offline client has no messges.

[code]

[2020-06-11 12:34] gloffreda commented on #1536
I’m still digging it from my end.
So far my conclusion is: there is no queued messages in those cases.

[2020-06-11 20:17] codeadict commented on #1158
Looks like this one could be closed @ioolkos ?

[2020-06-11 20:23] ioolkos commented on #1158
@codeadict jep, thanks

[2020-06-11 20:23] #1158 closed

[2020-06-11 23:14] ynigoreyes commented on #1443
Hello @ioolkos , to build off of @trevorjiang 's question, is it possible to store the offline messages into an external data store to read from later after a node failure? I understand that we can store offline messages anywhere using the `on_offline_message` hook, but I'm getting stuck on how we can send those offline messages that we saved externally to the clients that just reconnected after t

[2020-06-12 00:37] ertanden commented on #1363
I performed the following steps without Docker. Problem is quite easily reproducible for me.
[code]
modify config on both `_build/dev0/rel/vernemq/etc/vernemq.conf` and `_build/dev1/rel/vernemq/etc/vernemq.conf`:

[code]

On Terminal 1
[code]
On Terminal 2
[code]
After a while Subscription counts do not match on nodes on Status page http://localhost:10020/status. They should both be `2` since ther

[2020-06-12 06:59] ioolkos commented on #1363
Thanks, that's pretty much how I tested it, so we need to find out what we still do differently.

I'm using the `vernemq console` command in the 2 terminals, so that I can directly see a little bit what happens. I also always use tho mosquitto_sub command with the `-d` option. I do the 2 subscriptions from 2 other terminals, of course.
I also did a quick `vmq-admin session show` command before joi

[2020-06-12 09:55] ertanden commented on #1363
Converted the steps into a single script. First of course build and configure as following:

[code]
modify config on both `_build/dev0/rel/vernemq/etc/vernemq.conf` and `_build/dev1/rel/vernemq/etc/vernemq.conf`:

[code]

Then copy paste the following script in the VerneMQ source folder and run it there.

[code]

[2020-06-12 13:48] ioolkos commented on #1363
Thanks for your effort, reproduced it!
`vmq_reg_trie:remote_subscriber/3` does not fire for ClientIDs (or topics?) seen before on dev0.

(only after CONNECT-DISCONNECT-CONNECT cycle on dev1)

[2020-06-13 19:11] ioolkos commented on #1363
I'll probably need to take a deep dive into theory here. VerneMQ implements this paper:
https://haslab.uminho.pt/tome/files/thesis.pdf

The concept there is that a re-joining node acquires a new node ID that is mapped to the old within the cluster, and then history from the old is phased out. Conceptually, acquiring a node ID must be the same as the VerneMQ node name.

Anyway, hitting the snooze b

[2020-06-16 00:56] mtannertdev commented on #1526
Watching this discussion, I'm really interested in this. I'd like to be able to access the client certificate that was used to authenticate so that I could pull various properties from it to define client ID and username. Being able to access the client cert in the `auth_on_register` hook would be extremely useful.

[2020-06-16 07:41] mansurali901 commented on #848
The domain certificate is issued by intermediate “Let’s Encrypt Authority X3”, this intermediate is cross-signed by “DST Root CA X3” (from IdenTrust). IdenTrust is widely trusted by most OSes and applications, we will “DST Root CA X3” as root CA.
if you are not on too old OS then you could use this from your local machine

`cat /etc/ssl/certs/DST_Root_CA_X3.pem /etc/letsencrypt/live/$domain/chain.

[2020-06-16 07:42] mansurali901 commented on #373
**your settings are correct**
The domain certificate is issued by intermediate “Let’s Encrypt Authority X3”, this intermediate is cross-signed by “DST Root CA X3” (from IdenTrust). IdenTrust is widely trusted by most OSes and applications, we will “DST Root CA X3” as root CA.
if you are not on too old OS then you could use this from your local machine

`cat /etc/ssl/certs/DST_Root_CA_X3.pem /etc/l

[2020-06-16 13:21] ioolkos commented on #1508
Built a new Focal package for latest release 1.10.3.
Please test & let us know any issues.

[2020-06-16 13:21] #1508 closed

[2020-06-16 13:41] codeadict commented on #782
Looks like this can be closed now @ioolkos

[2020-06-16 13:48] #782 closed

[2020-06-16 16:28] #1511 closed

[2020-06-17 09:07] riraccuia commented on #1526
Hello, i am also very interested in solving this problem, if a plugin could access the x509 cert from the mutual auth it would be very convenient and would allow to simplify my design a lot. Is this being considered as a feature in future updates?

[2020-06-17 09:25] ioolkos commented on #1526
@sooslaca, @mtannertdev, @riraccuia Thanks for your comments!
and great to see a  need. To help make this a feature for the roadmap, let's first define what the "feature" is. Is it the same for all your use cases?

[2020-06-17 13:41] codeadict commented on #1506
This could be closed now

[2020-06-17 13:42] codeadict commented on #1500
@blisssan can you pleae test the master branch again on Catalina?

[2020-06-17 13:45] codeadict commented on #1485
Is this fixed now @ioolkos ?

[2020-06-17 13:51] ioolkos commented on #1485
@codeadict thanks for reminder. I'm closing this as the config option for this has been merged. If it's a fix for the actual issue remains to be seen.

[2020-06-17 13:51] #1485 closed

[2020-06-17 13:58] #1506 closed

[2020-06-17 14:10] ioolkos commented on #1363
Note to self (& other interested parties): we need to define a clearer concept of node churn. The beauty of NDC (SWC) is that it allows for massive node churn, without massive metadata overhead. The price for this is that NodeIDs (representing a cluster node) need to be re-newed when a node crashes.

The question is whether we do this manually or automatically, or both. Currently the metadata Node

[2020-06-17 14:12] codeadict commented on #1363
Maybe combining the Nodename with a timestamp could work

[2020-06-17 14:25] codeadict commented on #1290
@puresilk @joekinley There is a merged PR in the latest release and the `master` branch that addresses the cropping issue. Can you please test and suggest any improvements?

[2020-06-17 14:29] ioolkos commented on #1363
@codeadict yes.

An interesting point for Kubernetes users could be that there's probably a possibility to run a VerneMQ cluster as a normal Deployment (vs. a StatefulSet).

[2020-06-17 14:56] codeadict commented on #740
This is still not fixed, @baranga changes are on Basho's repo but we don't use their `develop-3.0` branch anymore since it introduced a non backward compatible change that breaks VerneMQ. I will merge @baranga 's changes onto our for and that must fix it.

[2020-06-17 15:02] codeadict commented on #740
@ioolkos there is a new PR at https://github.com/vernemq/clique/pull/2 with @baranga's changes. I'll file a PR on VerneM after and that should allow for = sign on command values.

[2020-06-17 15:07] codeadict commented on #735
Something was merged recently and is on the latest release that may have fixed this, basically setting `mqtt_connect_timeout=TIMEOUT`, the default TIMEOUT value is still 5000ms. Can you please test iif it fixes it by setting a higher value @jmatt-cavli @mhball?

[2020-06-17 15:51] mtannertdev commented on #1526
My use case would be to get the client certificate that is used to handshake TLS as a variable in the auth_on_register hook. I'm pretty sure I can pull the attributes from it using erlang based on what I can see in other examples (https://github.com/deadtrickster/ssl_verify_fun.erl/blob/master/src/ssl_verify_fun_cert_helpers.erl).

[2020-06-17 15:51] baranga commented on #740
Finally, after 2 years! :tada:

[2020-06-17 16:30] ertanden commented on #1363
I read through the paper (and a little bit surrounding literature) and I was under the same impression that the NodeID's would need to contain a second unique part. Replacing old node with the new one is as well mentioned, so I assume that would be the correct way to go.

However, I'm not so sure about Kubernetes StatefulSet vs Deployment. In a non-graceful termination of a POD (pod crash & resche

[2020-06-17 16:46] ioolkos commented on #1363
@ertanden wow, you went ahead and read the paper... :) :tophat: tip!

Hm, you're probably right about Kubernetes. (your point is that persistent storage needs StatefulSets, right?)

And I agree: VerneMQ needs to implement the metadata ID/node ID issue on fundamental layer.

[2020-06-17 16:49] #740 closed

[2020-06-17 17:33] sooslaca commented on #1526
Hi @ioolkos , thanks for coming back on this. I’m glad to see that others are entertained by the idea as well.
My use case would be similar like @mtannertdev  wrote, during auth I would like to use certain fields from TLS cert.
To encorporate that best would be to have the full TLS client auth cert into the auth_on_register hook so a plugin can consume the information.

Thanks for the help

[2020-06-17 20:31] riraccuia commented on #1526
I guess auth_on_register variable would do the job, i agree with keeping the whole x509 cert from the handshake

[2020-06-18 01:43] hiepthai commented on #1317
Hi, I still facing the same problem with VerneMQ `1.10.3`, any updates?

[2020-06-18 06:17] ioolkos commented on #1317
@hiepthai Hi, as this issue was fixed and is closed, please open a new issue with more information.

[2020-06-18 08:51] lmq1999 opened #1540 "Vernemq docker image still error loading libsnappy"
### To help us save time and help you faster

Before opening a new issue, please make sure that isn't already an open (or
closed/resolved) issue concerning the problem. If unsure if older issues are
about the exact same thing, just open a new issue rather than posting in the old
one - but please reference the possibly related issues in the new issue.

Please do not insert images of text, but inser

[2020-06-18 13:19] codeadict commented on #1540
What version of the VerneMQ docker image do you use?

[2020-06-18 13:40] codeadict commented on #1540
Duplicate of https://github.com/vernemq/docker-vernemq/issues/214

[2020-06-18 16:46] puresilk commented on #1290
@codeadict thank you very much for your work!

I have created a v1.10.3 container based on your official Docker image, but patched for v1.10.3, and my own configuration file. I've run into the issue with accept_eula, could not resolve it - will look into it more tomorrow. If there's some suggestions from me on that part (I have one minor point of feedback already) I'll open a new issue for the eul

[2020-06-18 17:38] ssmiller25 opened #1541 "Cluster-Wide Session Re-Authorization"
### Environment

- VerneMQ Version:  1.10.2
- OS:  Linux (Kubernetes)
- Erlang/OTP version (if building from source): N/A
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone: 3 node

### Expected behavior

`vmq-admin session reauthorize` works for a client from any cluster node.

### Actual behaviour

Periodically we issue vmq-admin command to re-author

[2020-06-18 17:41] ssmiller25 opened #1542 "Bridging Between VerneMQ Clusters"
#942 # Environment

- VerneMQ Version: 1.10.2
- OS: Linux (Kubernetes)
- Erlang/OTP version (if building from source): N/A
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone: 3 nodes (both clusters)

### Expected behavior

Bridge connection can be made between one cluster and another, which can fail over but does not result in duplicate messages.

###

[2020-06-18 18:58] ioolkos commented on #1541
@ssmiller25 Thanks. I don't understand from your description what you do.

`vmq-admin session reauthorize` sometimes works, sometimes not, killing a subscription?

What does killing the subscription mean? what do you see logged? What auth plugins do you use?

[2020-06-18 19:11] ioolkos commented on #1542
Yes, a bridge is always a point to point MQTT bridge. You could start 2 bridges but use shared subscription topics locally, so that messages are load balanced. You can also start the bridges from cluster 1 to cluster 2 (push), or from cluster 2 to cluster 1 (pull), and see what suits you better.

[2020-06-18 20:24] codeadict commented on #1540
this can be closed now @ioolkos

[2020-06-19 14:08] saqib-cielo commented on #1084
Need to use this $aws/things/+ topic i.e `vmq_bridge.ssl.br0.topic.1 = $aws/things/+ both 0`, but couldn't able to publish message with a topic prefix as '$', please guide.

[2020-06-19 14:21] ioolkos commented on #1084
@saqib-cielo VerneMQ does not allow PUBLISHS to topics starting with '$'. Context:
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718108

[2020-06-19 14:34] ioolkos commented on #1084
Look whether you find a combination of topic filter, remote prefix, local prefix that allows you to publish out messages on $aws/ in the bridge

[2020-06-19 14:37] saqib-cielo commented on #1084
I tried one mentioned in the documentation, didn't work either i.e
`pattern[wildcard topic] direction[in|out|both] Qos[0|1|2] local_prefix remote_prefix`
`$aws/things/+ both 0 $aws/things/ $aws/things/`

[2020-06-19 14:41] saqib-cielo commented on #1084
@ioolkos same case working with Mosquitto as bridge with is config
`topic => both 0  $aws/things/ $aws/things`

[2020-06-19 14:45] ioolkos commented on #1084
Yes, Mosquitto allows publishing to $ topics. Verne does not.

This is about the out direction, for which you need to subscribe to a topic without $, and then prefix it.

[2020-06-19 14:53] saqib-cielo commented on #1084
@ioolkos like this
`vmq_bridge.ssl.br0.topic.1 = $aws/things/+ in 0
vmq_bridge.ssl.br0.topic.2 = aws/things/+ out 0 aws/things/ $aws/things/
`

[2020-06-19 14:58] saqib-cielo commented on #1084
@ioolkos But devices/apps will publish messages to bridge this $aws/things/+ topic, will AWS Iot broker receive message with above configs?

Sorry to bothering you that much.

[2020-06-20 09:47] saqib-cielo commented on #1229
@larshesel : Is this feature working now with 1.10.3?

[2020-06-20 10:57] ioolkos commented on #1229
@saqib-cielo yes

[2020-06-20 16:41] #1540 closed

[2020-06-22 07:58] ioolkos commented on #1363
I looked into this a little bit over the weekend, and I'd like to document my current thinking here.

VMQ_SWC basically implements 2 interfaces (plugins), one for cluster membership, one for efficient causality tracking for shared state.

Cluster membership is done with a CRDT datatype (riak_dt_orswot). We store the nodename in the ORSWOT, but we also store an "Actor". This is how the Actor is gen

[2020-06-22 08:03] PSanetra opened #1543 "Message Store File Corruption"
### Environment

- VerneMQ Version: 1.10.1
- OS: Ubuntu 16.04 / Kubernetes
- Cluster size/standalone: standalone

### Crash

We have observed a crash of VerneMQ due to database file corruption. I am not sure why this happened. Is there a way to recover from this?

[code]

[2020-06-22 08:21] ioolkos commented on #1543
Hi @PSanetra thanks, is this after running out of disk space, or not? is this SWC or Plumtree?
Can you run
[code]
in the `data` directory to see whether there's compaction errors or not.

[2020-06-22 09:12] dmagyar commented on #1526
I'm soo glad I found this issue. Exactly! Pulling additional attributes from connecting certs (even the entire cert retained) would save me so much pain. Not a big erlang coder myself but would love to see this feature. I think @sooslaca is right, passing the entire cert to the auth_on_register hook would allow a plugin to pick whatever it needs.

[2020-06-22 09:13] ioolkos commented on #1543
Depending how you installed & configured, data could also just be in `/var/lib/vernemq`.
You can also inspect the `LOG` file in msgstore/9 for any other errors.

Using the same Erlang version as VerneMQ on your system (supposing you have that installed, if you don't find out the Erlang version, let me know what `sudo vernemq ertspath` tells you), you can try eleveldb:repair like this:

[code]
Hone

[2020-06-22 09:34] PSanetra commented on #1543
I have reset the VerneMQ disk for now as a workaround. This was ok as this was just a test instance. I still have a snapshot of the corrupted state and will look into it later today. I think it would be important to recover from failures like this more gracefully in a production environment.

[2020-06-22 12:33] PSanetra commented on #1543
@ioolkos It seems to be likely that the instance has run out of memory before the corruption happened. Is there some documentation about what factors are relevant to consider for choosing the amount of memory for VerneMQ? Our guess is that retained messages are causing a lot of memory load.

[2020-06-22 13:25] ioolkos commented on #1526
Thanks, great to see more interest.
Action points:

- [ ] check technical feasability
- [ ] check backward compatibility, in the `auth_on_register` hook. (Lots of existing auth plugins out there).
- [ ] find sponsor to do this as a sponsored feature development, after 1 and 2 check out ;)

[2020-06-22 16:36] codeadict commented on #1290
Awesome @puresilk, also new containers are released for VerneMQ 1.10.3 for easier testing

[2020-06-23 09:20] davidepianca98 opened #1545 "Webhooks modifiers not working"
### Environment

- VerneMQ Version: 1.10.3
- OS: Official Docker Image
- VerneMQ configuration (vernemq.conf) or the changes from the default:
     - DOCKER_VERNEMQ_ACCEPT_EULA=yes
     - DOCKER_VERNEMQ_LISTENER__TCP__ALLOWED_PROTOCOL_VERSIONS=5
     - DOCKER_VERNEMQ_LISTENER__TCP__DEFAULT=0.0.0.0:1883
     - DOCKER_VERNEMQ_PLUGINS__VMQ_PASSWD=off
     - DOCKER_VERNEMQ_PLUGINS__VMQ_ACL=off
     -

[2020-06-23 16:56] gsingh395 commented on #1541
@ioolkos adding to what @ssmiller25 said, we have a 3 node cluster setup and there's a shell script that runs on each node which periodically gets the list of connected clients using "vmq-admin session" and issue "vmq-admin session reauthorize" for each client. Since in cluster setup, the list contains the clients that are connected to other nodes as well, script ends up calling reauthorize comman

[2020-06-23 17:45] ssmiller25 commented on #1542
Thanks!  We will look at leveraging shared subscription topics to load balance across bridges.

[2020-06-23 17:45] #1542 closed

[2020-06-24 07:50] ioolkos commented on #1543
@PSanetra thanks, so just to confirm: you were running out of memory, not disk space?

Can you give me an idea on the load scenario? How many messages incoming, QoS etc?

[2020-06-24 13:21] NewBermuda commented on #1499
Thank you for your input.
In the end I used the sysstat package to measure the resource usage.
Time was not a good option for measuring resource usage of erlang-based software

[2020-06-24 13:21] #1499 closed

[2020-06-24 13:27] ioolkos commented on #1499
@NewBermuda makes sense, thanks for your feedback.

[2020-06-24 14:31] NewBermuda opened #1546 "Can't get VerneMQ to accept more than 10k connections."
### Environment

- VerneMQ Version: vernemq-1.10.2.stretch.x86_64
- OS: Debian-Stretch
- VerneMQ configuration (vernemq.conf): see below
- Cluster size/standalone: standalone

### Expected behavior
I'm deploying Debian Stretch on a remote testbed node and installing VerneMQ on it. On another testbed node on the same network I'm deploying Apache Jmeter and it's MQTT plugin to loadtest VerneMQ.
All

[2020-06-24 14:45] PSanetra commented on #1543
Yes the instance ran out of memory. All subscriptions are QoS 1 or 2. I guess at the the time of the error we had about 60 000 topics with retained messages and 2 000 - 3 000 messages per minute.

[2020-06-24 15:18] ioolkos commented on #1546
Slow down connection setup rate. You're probably stalling the registration synchronisation on plumtree.
Try the following configs:
don't set `allow_multiple_sessions`. It's a deprecated option, and might interfere.

`listener.nr_of_acceptors = 100` (no need for 100k acceptor processes!)
`coordinate_registrations = off` (if you know your ClientIDs will be ensured to be unique anyway)
`metadata_plug

[2020-06-24 15:19] gloffreda opened #1547 "Understanding routing score"
Hi There

I'm trying to better understand and tune our system and getting the definition of Routing Score on Release Notes we have:
"First, we added a couple of new metrics that allow us to show you a "routing score" for every cluster node on the VerneMQ cluster status page. The routing score consists of two percentages similar to 75 / 25 indicating that 75% of the received MQTT publish frames wer

[2020-06-24 15:35] ioolkos commented on #1547
I think it's a live score for the last 10 seconds.

[2020-06-24 15:41] gloffreda commented on #1547
it is always like that.Never gets other numbers. Just 0 and 100.
I have always a bigger number on publish in on 1 node, in that case VerneMQ@10.42.117.247. Is it normal ?
By seeing the entire panel, does it looks normal for you ?

[2020-06-24 16:37] ioolkos commented on #1547
Okay, this is based on the Javascript here: https://github.com/vernemq/vernemq/tree/master/apps/vmq_server/priv/static/js

And 8888/status.json should give the values this is based on. Issues with Javascript or Browsers not excluded...

[2020-06-24 21:06] NewBermuda commented on #1546
I applied your suggestions to the .conf file, but unfortunately it still crashes after 10k connection.
Have tried a lot of different settings, but nothing seems to work yet

[2020-06-24 21:11] ioolkos commented on #1546
What crashes after 10k connections? :smiley:
(logs?)

[2020-06-24 21:40] ioolkos commented on #1546
look at metrics and IP:8888/status page too, or post here.
Do you restart Verne between test runs? do you delete state?

[2020-06-24 21:55] ioolkos commented on #1543
Can you let me know more about the storage? is this in the cloud?
I've seen the error but not that frequently so trying to collect context. Btw have your tried the repair?

[2020-06-24 22:06] ioolkos commented on #1541
@gsingh395 @ssmiller25
Okay, thanks for the additional information. Will have to check this.
In the mean time, couldn't you add `--node` to your `vmq-admin session` command, and then do some filtering or sorting in the script (so that you only call reauthorization for local sessions)?

[2020-06-24 23:08] NewBermuda commented on #1546
Hi there, after looking closely at my results again I concluded that I should close this Issue.
It turns out, this was a JMeter issue where JMeter ran out of free memroy after creating 10k threads.
So actually, this problem was also coming up for the other brokers.
But your advice helped me uncover this problem and I can run my other tests for VerneMQ better now.

[2020-06-24 23:08] #1546 closed

[2020-06-25 05:41] ioolkos commented on #1546
Okay, hier werden Sie geholfen. :)

Philosophical comment: you never test a SUT alone, you performance test every single component in the test setup (and their interactions).

[2020-06-26 08:30] deen13 opened #1548 "Cluster nodes fail to join eatc"
### To help us save time and help you faster

Before opening a new issue, please make sure that isn't already an open (or
closed/resolved) issue concerning the problem. If unsure if older issues are
about the exact same thing, just open a new issue rather than posting in the old
one - but please reference the possibly related issues in the new issue.

Please do not insert images of text, but inser

[2020-06-26 08:53] deen13 opened #1549 "Message distribution in a shared subscription with clean sessions"
This is rather a question for the best practice than a bug report. In order to handle the amount of messages our backend is receiving, we subscribe in a shared description with three instances by default. Everything works fine until we need to dynamically scale our replicas. We're currently using persistent sessions with the pod name as client name to prevent messages drops during the rolling upda

[2020-06-26 09:26] ioolkos opened #1550 "LevelDB: truncated record at end of file"
There are cases where Verne won't start because one of the 10 LevelDB message stores won't open with a`{db_open,"Corruption: truncated record at end of file"}` error.

Example: https://github.com/vernemq/vernemq/issues/1543

This can happen in one of 3 cases:

1. LevelDB overflows disk space completely
2. VerneMQ crashes because it's out of memory
3. As a runtime error

This is an operational issu

[2020-06-26 14:39] ioolkos commented on #1545
weird... didn't I leave a comment here yesterday? where is it?

Anyway, thanks. Need to check the cache issue.
Also, in some cases sending back modified options to the publisher makes sense. A candidate here is `p_session_expiry_interval`. The MQTT 5 is unclear though whether sending back a changed session expiry is mandatory or not.

[2020-06-26 15:19] davidepianca98 commented on #1545
I mean, reading the documentation it looks like it's possible to do something like this whether the MQTT specification contemplates it. What I would like to do is changing especially the user properties and having a look at the Webhooks documentation and here (https://github.com/vernemq/vernemq_dev/blob/master/src/auth_on_register_m5_hook.erl) it looked to  be possible. But maybe I read it wrong a

[2020-06-26 22:14] ynigoreyes opened #1551 "Cluster Resiliency during Node Failure"
Hello, @ioolkos @codeadict

My name is Miggy Reyes. I am a current intern with Microsoft and am interested in making VerneMQ more resilient to node failures. We have a few solutions in mind that we would like your feedback on.

One of the solutions we had in mind would be to utilize the client dirty (re)connection process to restore state from a lost node, lost meaning that it ungracefully shutdow

[2020-06-26 22:15] ioolkos commented on #1545
The modifiers are silent overrides that the broker normally doesn't tell the client about. What I meant to say is that for `p_session_expiry_interval` we probably should tell the client, because we're changing the interval broker side, so you raise a valid point.

Related remarks in the MQTT v5 spec: https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc3901082

[2020-06-26 22:21] ioolkos commented on #1551
Hi @ynigoreyes thanks for your questions & ideas! Allow me some time to go through it and come back with comments.

[2020-06-27 03:02] codeadict commented on #1550
Something we can consider here also is some kind of snapshot/backup mechanism we could restore from in case repair doesn't help completely, the repair option seems something common to me. I have personally used it and seen it in Golang projects a lot.

[2020-06-27 03:21] codeadict commented on #1548
Thanks for reporting this @deen13. This is a pretty valid issue and something we should consider for next release, is this with the SWC backend right? I think we should have a setting to specify the number of retries and sleep value to join the cluster for these cases: `join_cluster_retry_count` and `join_cluster_retry_interval`. A temporary simpler workaround would be to do it in Bash in the Dock

[2020-06-27 03:32] codeadict commented on #1547
Yeah, it's a live score for the last 10 seconds. Can you please check the values of `matches_local` and `matches_remote`  from `host:8888/status.json`? That would give us an idea of whether there is an issue in the web UI calculation or if calculating correct from the metrics.

[2020-06-27 08:17] PSanetra commented on #1543
@ioolkos yes the storage is a Azure Disk. I have not tried to repair it yet.

[2020-06-28 09:52] davidepianca98 commented on #1545
Ok, I thought with the modifiers one could change also the user properties in the CONNACK, so it would be possible to implement custom functionality just using the webhooks plugin, without having to implement a plugin in Erlang

[2020-06-28 16:20] ioolkos commented on #1363
I'm wondering whether the concurrency here could make us miss subscription at boot time.

https://github.com/vernemq/vernemq/blob/be44d6d84403ff51a3a83f0fd1aab7154f95c930/apps/vmq_server/src/vmq_reg_trie.erl#L145

Spawning a process there that folds through the subscriberDB (from disk via metadata plugin) and initializes the RAM based local and remote subscription tries.
At the same time we keep t

[2020-06-29 11:33] seth-priya commented on #1504
@ioolkos  @codeadict just a quick update, the leveldb failure on Power is resolved with this patch that I pushed for review and acceptance today
https://github.com/basho/leveldb/pull/238
Basically, the build and all tests pass for basho/leveldb pass with this change

I was able to use this here https://github.com/seth-priya/eleveldb
to confirm that the build and tests for eleveldb pass for Power a

[2020-06-29 11:41] Fossil01 opened #1552 "Authorize user using MYSQL"
Hi,

I am running a VerneMQ cluster in Docker with these settings:

[code]

Which results in the following vernemq.conf in the container:

[code]

It boots up fine and the cluster is fine too. Then I added the following to my MySQL table ( I still have no clue how the hell those patterns work though):

[code]

I am trying to login using MQTT Explorer on my Mac and the VMQ logs show:

[code]

The c

[2020-06-29 13:16] codeadict commented on #1504
Does this fixes ARM as well right?

[2020-06-29 13:19] ioolkos commented on #1504
@seth-priya great to see. So, if I understand correctly, VerneMQ builds for you with both patches on LevelDB and eleveldb applied.

[2020-06-29 13:23] Fossil01 commented on #1552
Okay. I was fucking dumb again and forgot: DOCKER_VERNEMQ_VMQ_DIVERSITY.auth_mysql.enabled: 'on'

[2020-06-29 13:23] #1552 closed

[2020-06-29 13:26] seth-priya commented on #1504
@ioolkos yes that is correct
@codeadict - no, this fix is only for ppc64le, I don't have an ARM test environment.

[2020-06-29 17:13] ioolkos commented on #1551
@ynigoreyes Can you elaborate a little bit on what you want to achieve? I'm asking because I'm unclear it's

- something like HA Queues or similar, as a concept to address loss of persisted messages in offline queues (those live on a single node, as a matter of fact).
- A full replacement for the eventually consistent Metadata layer (Subscriber, Topics) with a consistent central database.

For the

[2020-06-29 21:13] ioolkos commented on #1551
To add more context to my question: are you looking to replace the Metadata plugin, or the Message Store plugin, or combine them into one?

In VerneMQ, both plugins use an LSM store (default: LevelDB) as a backend. In some cases this is cached or complemented by ETS tables in RAM.

### 1. Metadata Plugin

Below are the databases implemented in LevelDB:

| DB Name  | LevelDB Prefix | Key | Value
|

[2020-06-30 08:05] Fossil01 opened #1553 "Subscribe to topic?"
I am using MySQL to auth users, which is working fine. For testing I had this set for pub and sub ACL:

`[{"pattern":"bla/cmd/#"},{"pattern":"bla/anc/#"},{"pattern":"bla/ping/#"},{"pattern":"bla/rsp/#"},{"pattern":"#"}]`

Now when I remove the `{"pattern":"#"}` part I cannot see stuff like: bla/ping/123

What am I doing wrong?

[2020-06-30 09:09] sooslaca opened #1554 "Clustering with nodes behind NAT"
Hi Guys,

I try to setup clustering between 2 DCs where nodes are behind NAT  (docker with host network, but that shouldn't matter here)
DC A internal node IP is:  172.21.24.56
DC B internal node IP is: 172.22.24.50

DC B has this config:
[code]
As I saw in other issues it's expected to be the defined 'private IP'

Cluster is forming nice:
[code]

The problem is the following: DC A node has these

[2020-06-30 16:52] ioolkos opened #1555 "In the seconds after reboot VerneMQ accepts new subscriptions but doesn't build the routing trie (in initialize trie window)"
In a reboot situation, VerneMQ will go through existing subscriptions and create live routing tries (tables) while loading those subscriptions.
Initializing the tries, VerneMQ will accept SUBSCRIBES but not build up the actual routing tries.
This is due to the fact that the `vmq_reg_trie` event handler subscribes to Subscriber DB events, but misses those events created before the event handler hoo

[2020-06-30 18:21] ioolkos commented on #1554
The naming of `listener.vmq.clustering` is a little unfortunate for historical reasons.
This is not the actual clustering and metadata exchange layer. The listener on that port accepts connections from all other cluster nodes, to exchange MQTT messages exclusively.

That's the reason you see the error, which, I agree is confusing. And yes, this is normally not a port exposed to external world, as

[2020-06-30 19:28] ioolkos commented on #1555
Always been thinking some boot level/run level system would be interesting... :)
Could possibly address stuff like this.

[2020-06-30 21:29] sooslaca commented on #1554
I appreciate the answer @ioolkos .

I assume (whatever the name is) that this variable value is not just where VerneMQ listen/bind/accept connections, but it's also advertised through EPMD?
Is there no option to let the bind (listener) address and the advertised address be different?

"VerneMQ cluster is built for LAN deployment" < I read it on other issues - probably was answered by you that - it

[2020-07-01 01:43] ynigoreyes commented on #1551
Our priority is to persist the offline messages, specifically. We do not want to waste resources in saving all of the other messages if they are going to get sent/deleted immediately after. We are creating a plugin that will save the offline messages into an external store and then restore the state if we believe that a node has died.

I have some follow up questions for the solution you provided.

[2020-07-01 13:59] ioolkos commented on #1551
@ynigoreyes

1. This is how the msg_ref is generated:
https://github.com/vernemq/vernemq/blob/be44d6d84403ff51a3a83f0fd1aab7154f95c930/apps/vmq_server/src/vmq_mqtt_fsm_util.erl#L29

2. I can't answer that in detail. What the current implementation does in that case is queue initialization from disk, per SubscriberID. If the client is offline this will be an offline queue.

3. It's an idea, but I'm

[2020-07-02 02:49] chenxinlong opened #1559 "VerneMQ crashed due to bad argument"
### Environment

- VerneMQ Version: 1.9.2
- OS: CentOS 7
- Erlang/OTP version (if building from source):
- Cluster size/standalone: cluster with 1 node

### Behaviour

Hi, the crash happened several times but I can't figure out what was happening and I have no idea how to reproduce it, error.log and creash.log as below :

Error log
[code]

After these errors, there comes a lot of `@vmq_mqtt_fsm:ch

[2020-07-02 05:59] ioolkos commented on #1559
@chenxinlong this is fixed in https://github.com/vernemq/vernemq/pull/1537
I'd still be interested if you see any more context around this. You can disable systree if you don't need it (in the vernemq.conf file).

is this happening under memory pressure?

[2020-07-02 06:58] chenxinlong commented on #1559
@ioolkos

Thx, and yes, it was indeed under memory pressure.

[2020-07-02 10:57] ioolkos commented on #1559
@chenxinlong Okay, thanks. Pretty much what's been seen. The fix will uncover any shadowed issues, if there are any.
I'm closing this issue, but feel free to add to it or re-open.

[2020-07-02 10:57] #1559 closed

[2020-07-02 16:37] ioolkos opened #1560 "Ensure that MQTT v5 user properties are stored to disk/DB with a message"
entry point:
https://github.com/vernemq/vernemq/blob/379c7d15871ede362ae19dd4a35621ba5928b024/apps/vmq_generic_msg_store/src/vmq_generic_msg_store.erl#L284

[2020-07-02 16:43] ioolkos commented on #1554
@sooslaca I know that a couple users are experimenting along those ideas... vpc peering etc. I don't have extensive feedback on that.

[2020-07-02 18:45] gsingh395 commented on #1541
Thanks @ioolkos  I wasn't aware you can query node column with `vmq-admin session` command. @ssmiller25 this might work for us.

[2020-07-02 18:47] ioolkos commented on #1541
`vmq-admin session show --help` shows you all the options.

[2020-07-06 19:30] ynigoreyes commented on #1551
We have decided to implement our own generic message store and check to see if the performance meets our use case.

Thank you for the recommendation and all of your help @ioolkos !

[2020-07-06 20:47] ioolkos commented on #1551
@ynigoreyes thanks, keep me posted on your progress! :)

There's also the RocksDB feature branch here: https://github.com/vernemq/vernemq/tree/feature-rocksdb-messagestore

[2020-07-06 22:53] mpwillia opened #1561 "HTTP Auth plugin with self-signed cert"
I have a very basic http auth plugin which implements `auth_on_publish_m5` and `auth_on_register_m5`. As of now all this plugin does is make a call to an HTTPS endpoint and based on the response either approves or rejects the request. However, I'm running into issues setting up a dev environment where the service being called is using self-signed certs for SSL.

VerneMQ is running on an Ubuntu 16.

[2020-07-07 15:17] ssmiller25 commented on #1541
Thanks @ioolkos.  That solution will work for us!

[2020-07-07 15:17] #1541 closed

[2020-07-07 17:50] HowellTan opened #1562 "Configure monitoring so that metrics show data for the whole cluster"
### Environment

- VerneMQ Version: 1.10.2
- OS: Ubuntu 18.04.3 LTS
- Erlang/OTP version: Erlang/OTP 22
- Cluster size/standalone: 3

[code]

### Expected behavior

Configure VerneMQ such that the metrics includes all nodes (i.e. show data for the entire cluster).

### Actual behaviour

I have read the docs for Prometheus VerneMQ. For context, I have a VerneMQ cluster with 3 nodes behind a load ba

[2020-07-08 11:30] arjun289 commented on #440
@iamyellow Thanks for this, saved me lots of effort.

[2020-07-08 20:27] ynigoreyes commented on #1551
Hello @ioolkos ,

We have created a plugin that follows the interface for a generic message store with working database queries. I have a question about ordering of messages. When a node dies, how does it know which message to send first to the reconnecting client? Is that information lost, as well?

[2020-07-08 20:38] ioolkos commented on #1551
Hi @ynigoreyes great to hear. What VerneMQ does with the LSM based storage is folding through the keys of the DB for a SubscriberID after a reboot. So it's basically initialising offline queues from storage, also creating memory tables for reference counting. As consumed messages are deleted, the offline queue only has undelivered message references in it. When a consumer connects, it can just sta

[2020-07-08 21:00] ynigoreyes commented on #1551
@ioolkos my understanding of your explanation is that the queues are created on the start of the node and as long as we have saved the SubscriberID, the queue will handle the rest? There is no need to create out own "ordering" since that is already handled by the internal VerneMQ queue.

[2020-07-09 04:10] seth-priya commented on #1504
@ioolkos @codeadict there does not seem to be much activity on the basho/leveldb community and hence I have raised the above PR to eleveldb, could you please take a look as per your convenience and let me know if it would be acceptable or if you have other suggestions? Thanks in advance!

[2020-07-09 09:34] ioolkos commented on #1551
@ynigoreyes Yes.
Let me know when you want to discuss this a little bit more in detail, one of these days. Happy to Skype.

[2020-07-09 09:49] ioolkos commented on #1504
@seth-priya allright, thanks for raising a PR on the repo here. I'll see I can look into it soon.

[2020-07-09 13:14] ioolkos opened #1563 "Invitation to Brainstorm for better MQTT BRIDGE feature"
## Context

I'd like to improve the MQTT bridge feature. Both in terms of the implementation but also in discussing best ways for something like MQTT federation between clusters.
The current bridge feature has multiple characteristics that could be improved:
- A flexible but complex client state machine
- A memory only buffer mechanism
- A somewhat unintuitive commandline interface
- Only restrict

[2020-07-09 17:06] ioolkos commented on #1562
Hi @HowellTan, thanks for your input. Yes, that's how Prometheus scraping is implemented currently (and it's likely to stay like that because otherwise, Verne nodes would have to somehow forward the scrape request. Or have all the metrics replicated & ready).

[2020-07-10 01:42] tartieret commented on #1562
@ioolkos I have the same issue, how do you suggest monitoring a vernemq cluster with multiple replicas?

For instance if I have a swarm cluster with three nodes, then prometheus scraps metrics from only one node at a time.

[2020-07-10 09:03] ioolkos commented on #1562
@tartieret @HowellTan by scraping every node and then separate metrics by node name in Grafana. You could do an aggregated view (where cluster nodes are shown in a single view), or some form of drill-down view for each node from a general pane.

I know the Grafana thing in this repo is only very basic. I've seen people building elaborated views, but no project has given back what they built so far

[2020-07-10 09:52] ioolkos commented on #1562
@tartieret Netdata recently also added great integration for VerneMQ. You can add multiple servers in the config file too:
https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/vernemq

[2020-07-12 07:52] ioolkos commented on #1563
Related: https://github.com/vernemq/vernemq/pull/1564

[2020-07-13 13:57] codeadict commented on #1563
About the concurrency, I was thinking if there could be multiple MQTT clients in a process group, one for each topic match:

`vmq_bridge.tcp.br0.topic.1 = demo/+ both 1` - Rus in  process one

`vmq_bridge.tcp.br0.topic.1 = devices/+ both 0` - Runs in process tow.

This will help with sending things out faster in theory and also receiving messages. You can use a general wildcard and still have one

[2020-07-13 13:59] codeadict commented on #1563
The RabbitMQ Federation plugin (https://www.rabbitmq.com/federation.html) could be something for inspiration here.

[2020-07-13 14:16] ioolkos commented on #1563
@codeadict interesting remark on process groups.

I've enabled identifying bridges by {Name, Host, Port} instead of {Host, Port} only, in upcoming PR. This allows for multiple bridges between the same 2 nodes, allowing for 'manual concurrency'.

2 bridges to the same remote listener then look like this, running separately under the bridge supervisor:

![bridges](https://user-images.githubuserconte

[2020-07-13 14:19] codeadict commented on #1563
Ahh that is also a good approach, thought that may get the user to use 2 bridges that pub/sub to the same topic tree if they are not careful

[2020-07-13 14:23] ioolkos commented on #1563
Exactly. Also, multiple bridges is only useful when the topics can be partitioned over them. This also has to be ensured manually.

[2020-07-13 14:31] ioolkos commented on #1561
@mpwillia thanks for opening this issue, and your patience...
I don't have a quick answer/solution. Need to find a moment to go through this. I was thinking Hackney uses the Certifi package, but that's probably not helping with self-signed certs anyway.

[2020-07-13 16:18] codeadict commented on #1563
yeah maybe worth in another iteration to partition by topics instead of multiple bridges

[2020-07-14 07:23] Pooja-ui566 opened #1566 "Failed to connect with Vernemq Container through mqttnet client"
Hi,
     I'm new to vernemq, facing issue to connect with vernemq running container inside ubuntu 18.04

Environment
- VerneMQ Version: 1.10.3

-Created the Vernemq container using : docker run -it -p 1886:1883 -v shared:/mnt -d --name vernemq1 -e "DOCKER_VERNEMQ_ACCEPT_EULA=yes"  vernemq/vernemq

The container is up and running

-Configuration Changes are as follow:
accept_eula=yes
allow_anonymou

[2020-07-14 07:48] elduds commented on #1563
Bridges are also currently defined on the node not the cluster, so the topic bridging service it provides disappears when a cluster node appears. Some way to make bridge definitions highly available across cluster nodes would be great

[2020-07-14 08:19] ioolkos commented on #1563
@elduds HA Bridges. I like the sound of that :)

[2020-07-14 13:26] #1555 closed

[2020-07-14 13:31] codeadict commented on #1563
Yep, on the RabbitMQ federation, if a node with a bridge dies, the bridge gets started on another node with the same state. This is gonna need a lot of work to keep bidge state as well as the queued messages replicated.

[2020-07-14 13:35] ioolkos commented on #1566
@Pooja-ui566
You need to use TLS 1.2. You also need to provide a client cert if you configure the server to require those.

(Please note: this is not a support channel, so I can't review your application code).

[2020-07-14 13:37] ioolkos commented on #1562
I guess this is answered. Feel free to comment or reopen.

[2020-07-14 13:37] #1562 closed

[2020-07-14 14:01] ioolkos commented on #1563
@codeadict jep.
Another approach would be to look at this from the perspective of queues (comparing this to HA queues or Quorum queues in Rabbit rather than federation).
A bridge could be "silently" subscribed to topics on additional cluster node(s) and already have messages. Live bridge would forward status regularly, so that follower bridges can delete messages.

[2020-07-15 00:31] mpwillia commented on #1561
Thanks for the update! I've verified that the plugin has no issues if our auth endpoint uses a proper CA signed cert for SSL. The root cert bundle seems good so it's just the self-signed cert case.

[2020-07-15 07:19] Pooja-ui566 commented on #1566
@ioolkos
i have used TLS 1.2 only.
This is mqttnet client code:

using MQTTnet;
using MQTTnet.Client;
using MQTTnet.Client.Options;
using System;
using System.Collections.Generic;
using System.IO;
using System.Security.Cryptography;
using System.Security.Cryptography.X509Certificates;
using System.Security.Authentication;

namespace WithCertificate
{
    class Program
    {
        public static v

[2020-07-15 07:19] #1566 closed

[2020-07-15 07:28] pooja405 commented on #1566
what should be vernemq configuration

[2020-07-15 11:07] dominikfehr opened #1567 "Messages received twice, published once"
# Environment

Machine A has a configured bridge to machine B.

- VerneMQ Version: 1.10.2
- OS: Debian
- Erlang/OTP version (if building from source): -
- VerneMQ configuration: Bridge from Server A to server B
- Cluster size/standalone: -
- QoS: 2

### Expected behavior

If a message is published to machine A or B, any client should receive this message once.

### Actual behaviour

If a message i

[2020-07-15 11:25] ioolkos commented on #1567
Is your bridge bi-directional? it's possible that the topic is looping (if both nodes are Verne nodes).
So on node B, you receive a local delivery, and a another from a roundtrip to node A.

If this is not what you think happens, please post your bridge config.

[2020-07-15 11:30] dominikfehr commented on #1567
Both nodes are Verne.

Machine A uses "vmq_bridge.tcp.br0.topic.1 = * both 2"

If this causes a loop, how would I prevent it?

Thanks in advance

[2020-07-15 12:39] ioolkos commented on #1567
Jep, you can't currently fully replicate 2 topic trees seamlessly (due to loop detection not implemented).
While you can easily forward all messages to another node over the bridge, on the way back you'd have to use local_prefix and remote_prefix. Which is not intuitive for subscribers (and us users).

Also note https://github.com/vernemq/vernemq/issues/753#issue-338182080

In addition, there seem

[2020-07-16 17:25] tartieret commented on #1562
@ioolkos thanks for the info!

[2020-07-17 11:11] soyum2222 opened #1568 "VernMQ not send TLS Server Hello for client"
### Environment

- VerneMQ Version: 1.9.2
- OS: Linux ubuntu5 4.4.0-116-grneric
- Erlang/OTP version erts-9.3.3.10
- Cluster size 1

### Expected behavior
After receiving TLS Client Hello, respond to Server Hello
### Actual behaviour
After receiving TLS Client Hello, not respond to Server Hello

Hi
  I have a 6000 client environment, and sometimes some clients cannot access MQTT.I tcpdump and foun

[2020-07-18 16:29] ioolkos commented on #1568
Hi @soyum2222 thanks, I'm afraid I can't really help. Is this an identified client that otherwise works? It's a TLSv1 client, maybe that's related?

[2020-07-18 16:35] ioolkos commented on #1553
@Fossil01 were you able to resolve this? if not, we'd need to keep this open and investigate.

[2020-07-20 02:18] soyum2222 commented on #1568
Hi @ioolkos  thank you for your reply , I think this problem has nothing to do with TLSv1 , because i fount in TLS version info display is TLSV1.2 , and I compared this to normal , find no diff.

this issue is not reproduce every time , and it will back to normal after a while maybe one hour or 30 minute.

![image](https://user-images.githubusercontent.com/35021738/87892680-5508a800-ca70-11ea-91a5

[2020-07-20 04:18] pooja405 opened #1569 "Failed to connect with Vernemq Container through mqttnet client"
Hi,
I'm new to vernemq, facing issue to connect with vernemq running container inside ubuntu 18.04

Environment

VerneMQ Version: 1.10.3
-Created the Vernemq container using : docker run -it -p 1886:1883 -v shared:/mnt -d --name vernemq1 -e "DOCKER_VERNEMQ_ACCEPT_EULA=yes" vernemq/vernemq

The container is up and running

-Configuration Changes are as follow:
accept_eula=yes
allow_anonymous = off

[2020-07-21 07:46] ioolkos opened #1570 "Shared Subscriber behaviour regressing from `prefer_local` to `local_only`"
There's a bug or race condition where Shared subscribers (configured with a `prefer_local` policy) can behave like `local_only` instead of `prefer_local`.
This is not easily reproducible, and happens suddenly.
It has been observed that even a full cluster restart does not revert to `prefer_local`.

Here's a diagram of the faulty state: (the correct state is able to publish messages from Node B to

[2020-07-21 07:54] ioolkos commented on #1569
Anything logged in Verne logs for that connection attempt?

[2020-07-21 14:03] rubengees opened #1571 "on_session_expired does not work"
### Environment

- VerneMQ Version: 1.10.3 / 61c52f90f91860f9c0ca4f9138cd9d3974ba9ee6
- OS: Linux / Docker
- Erlang/OTP version (if building from source): 22
- Cluster size/standalone: Single docker container

### Expected behavior

The `on_session_expired` webhook should be called when the client's keepalive expires.

### Actual behaviour

The container does not start when setting the option (in

[2020-07-22 03:16] pooja405 commented on #1569
yes i have captured the logs.

docker logs vernemq :
config is OK
-config /vernemq/data/generated.configs/app.2020.07.22.02.57.14.config -args_file /vernemq/bin/../etc/vm.args -vm_args /vernemq/bin/../etc/vm.args
Exec:  /vernemq/bin/../erts-10.7/bin/erlexec -boot /vernemq/bin/../releases/1.10.3/vernemq               -config /vernemq/data/generated.configs/app.2020.07.22.02.57.14.config -args_file

[2020-07-22 04:54] seth-priya commented on #1504
Fixed with https://github.com/vernemq/eleveldb/pull/6, thanks @ioolkos @codeadict for your guidance and review!

[2020-07-22 04:54] #1504 closed

[2020-07-22 06:16] soyum2222 commented on #1568
I found the reason , is my config mqtts listener.ssl.max_connections reached the upper limit. modify this , all back normal .

[2020-07-22 06:16] #1568 closed

[2020-07-22 14:36] ioolkos commented on #1571
@rubengees thanks... I think the hook doesn't do what you expect it to do. It is meant for server side session expiry in case a session expiry interval was set. So, it should apply to this case (MQTT v5) and also to the case where persistent sessions expire (which is a global config value). I'll double check.

But it certainly doesn't apply for the client keepalive timing out, which is just a clie

[2020-07-22 14:46] ioolkos commented on #1569
Logs tell you 2 things: that "Client1" cannot be authenticated, that is there's no auth plugin found that could identify this client.
Check what auth plugins/config you use.

It also tells you (for another session, I suppose), that Verne cannot parse the fixed header in your client CONNECT packet (which is strange).
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-co

[2020-07-22 14:51] rubengees commented on #1571
Ah, I see! Then this is just a bug report for VerneMQ no starting when enabling that hook.

[2020-07-22 14:53] rubengees commented on #1571
Sorry for hijacking this issue with a usage question, but what would you recommend for this use case: We want to distinguish the case in which the client disconnected cleanly and in which the client fails to respond to the ping requests (e.g. when network is down). `on_client_gone` only tells us that a client is now offline, but not in which way. Would it be possible to add this info to `on_client

[2020-07-22 15:32] ioolkos commented on #1571
Just to make sure (it's probably a typo from your side): the client does not respond to ping reqs. It sends out ping reqs.

Anyway, you are correct `on_client_gone` doesn't give you details on how the disconnect happened. While it might make sense for your use case right now, consider you'll get the notification in a million scale. Does it still make sense? can you still use the information?
It co

[2020-07-22 15:49] rubengees commented on #1571
Yes, right, thanks.

Hmm, yes our applications would still work without that information, but it's valuable for us to know if a client disconnected when we did not expect it to, since the expected case is for all clients to stay connected always. It is (hopefully) not very frequent that a client connects or disconnects and when it happens, we want to know as much as possible.

That is fine, thank

[2020-07-23 07:26] ioolkos commented on #1571
@rubengees I added the `on_session_expired` to the webhooks schema. Thanks for catching this!

[2020-07-23 09:10] ioolkos opened #1572 "Invitation to discuss and review the RETAIN Server"
## Discussion of the current Retain Server Implementation

The Retain Server's job is to store retained messages. It also has to distribute and sync the retained messages among all cluster nodes.

This is an invitation to review its current implementation, from a write performance perspective.

## Current Implementation

We have a server process (`vmq_retain_srv` module, a gen_server2) handling 3

[2020-07-23 11:02] aurabhi commented on #1526
@ioolkos

I am looking for the CN to identify the specific tenant to which the device belongs to.  I see that there is already an option to use CN as the username, but in this case i want to retain the username but also access the CN in the webhook.

Having the entire ca certificate that was used to allow the connection as part of auth_on_register/webhook will make it more flexible for various use

[2020-07-23 11:56] harsharshetty opened #1573 "An option to dynamically upload CA certificates"
**Overview** - I have to support multiple tenants (each tenant with its own CA certificate) using a single deployment of vernemq (containerized using docker and deployed in a kubernetes cluster).

 My challenge is that the tenants can be created at any time (long after the MQTT broker is installed) and the certificate has to be added to the trusted ssl keystore without restarting the broker. The n

[2020-07-23 13:07] ioolkos commented on #1573
For a single listener you can't currently update the CAs dynamically.

I see an way to maybe achieve what you want in starting a new listener dynamically (see `sudo vmq-admin listener start --help`). You could dynamically start a new listener with new TLS configs. Then, as a second step, you go ahead and add the same TLS configs and listener to the `vernemq.conf` file, so that the configuration is

[2020-07-23 21:21] ynigoreyes commented on #1551
Hello @ioolkos

We have come across a problem where we are cannot add a client that requires a persistent session (clean_session = false). Our scenario goes as follows...

Connect to single VerneMQ instance running in Docker with a client (we call this on "consumer") that specifies clean_session = false
	Send messages from another client ("producer") which sends messages to some topic that is subs

[2020-07-24 04:46] harsharshetty commented on #1573
@ioolkos Thanks for the quick response.

1. When you say - "we can start a new listener dynamically" - is there a way we can do this without getting into the CLI and executing a "vmq-admin" command. I am currently running the containerized vernemq in a k8s cluster and there is a requirement to dynamically upload the certificates **without bringing the broker instance down**.

2. Once we add the TL

[2020-07-24 05:18] ioolkos commented on #1551
@ynigoreyes can you give me the exact consumer command you subscribe with?

[2020-07-24 05:28] ioolkos commented on #1573
@harsharshetty
1. You can try the HTTP wraps for the CLI commands: https://docs.vernemq.com/administration/http-administration. Be aware that this will not upload the Cert files, they have to exist on the server.
2. To start a listener that's only added to the `vernemq.conf`, you have to restart the broker. That's exactly why there's the dynamic CLI commands. If you start a same listener dynamical

[2020-07-24 10:04] chenxinlong opened #1574 "VerneMQ 1.9.2 crashed due to system_limit"
### Environment

- VerneMQ Version:1.9.2
- OS:CentOS 7
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone: cluster with 2 nodes

### Details

#### crash.log
[code]

#### error.log
[code]

Hi, it happened several times. But I can't understand the erlang log so I have no idea how to solve this.

[2020-07-24 14:35] ynigoreyes commented on #1551
[code]

This is the vmq_admin trace for the consumer. This includes the CONNECT and 2 messages that were received.

@ioolkos

[2020-07-24 14:48] ioolkos commented on #1551
@ynigoreyes Thanks, it would be best for me to have reproducible external steps. Like mosquitto_sub and mosquitto_pub client commands. Can you boil the issue down to something like this?

[2020-07-25 06:43] ioolkos commented on #1574
@chenxinlong The emulator tells you: too many processes.
You can increase the number of processes the VM is allowed to spawn by setting `erlang.process_limit = 800000` (or whatever number you need) in `vernemq.conf`.

[2020-07-25 07:24] chenxinlong commented on #1574
Hi, thanks for the reply.

There's no `erlang.process_limit` in my vernemq.conf(vernemq 1.9.2). Should I add it manually?  But how should I know what is the appropriate number of `erlang.process_limit` when I first set it without a reference value?

[2020-07-25 07:31] ioolkos commented on #1574
Verne generates config files upon every boot. (they are in a folder called `generated.configs`, in `/var/lib/vernemq/`)
You can see the VM config from the latest files there.

Probably, you'll have something roughly similar to this:
[code]

The +P value corresponds to `erlang.max_process`. Yes, you should add it to `vernemq.conf`.
You should also adapt the number of ports to be safe, the +Q value

[2020-07-25 07:47] chenxinlong commented on #1574
Thanks for the detailed explanation.

[2020-07-25 08:56] ioolkos commented on #1574
Set it to the max process number you project, and maybe check if initial VM memory increases.

[2020-07-25 08:56] #1574 closed

[2020-07-27 03:47] chenxinlong commented on #1574
Hi, is prometheus metrics `system_process_count`  corresponds to the realtime process number?

[2020-07-27 05:35] saeidakbari opened #1576 "Reload Auth and ACL Cache"
Hi,
We have an IoT system that controls and communicate with many devices each day and we are using Vernemq as our main MQTT broker and it works fine. everything except caching mechanism that forces us to reconnect devices on each policy or authentication credentials change.
I noticed in the past issues and Auth document [here](https://docs.vernemq.com/configuration/db-auth) that caching is only r

[2020-07-27 06:38] ioolkos commented on #1574
Yes.

[2020-07-27 07:14] ioolkos commented on #1576
Hi @saeidakbari maybe `sudo vmq-admin session reauthorize --help` does enough for you?

[2020-07-27 07:35] saeidakbari commented on #1576
@ioolkos As the doc says its only reauthorize `subscriptions` and the main problem is you can run command line on a microservice environment becuse there is no HTTP API for it.

[2020-07-27 07:57] ioolkos commented on #1576
You can wrap all CLI commands into HTTP: https://docs.vernemq.com/administration/http-administration

Of course, PRs are always welcome on any of this.

[2020-07-27 14:35] Stasik0 opened #1577 "Message loss on broker fault with QoS 1 with retained session"
### Environment

- VerneMQ Version: 1.10.2
- OS: Alpine
- Erlang/OTP version: image: 'vernemq/vernemq:1.10.2-1-alpine'
- VerneMQ configuration: default
- Cluster size/standalone: 2

### Expected behavior

We are having a pair of vernemq brocker (b1 and b2) in a cluster. Publisher-1 and subscriber-1 are connected to b1 while subscriber-2 is connected to b2. Both subscribers share a topic publisher

[2020-07-27 14:45] ioolkos commented on #1577
Hi @Stasik0 thanks.. you expect offline queues to be replicated which is not the case.
Subscriber-2 will reconnect to b1, yes. But the queue on b2 will only be migrated/merged when b2 is back online.

[2020-07-27 14:49] Stasik0 commented on #1577
@ioolkos thank you for the timely answer, however I did not get the meaning. Even when b2 is back online, we do not observe "re-send" of messages that subscriber-1 has missed (okay, it is now connected to b1, that is true).

Did I interpret QoS 1 and retained sessions semantics wrongly? So is it a bug, a missing feature or just my wrong expectations?

[2020-07-27 14:59] ioolkos commented on #1577
@Stasik0 queue migration might be slow.
Make sure Subscriber-2 is subscribed with QoS > 0 and clean_session=false. Otherwise it will not request message persistence.
Check with `sudo vmq-admin session show --client_id --offline_messages` after you disconnect S-2 to see whether it has offline messages.

[2020-07-27 17:59] ioolkos commented on #1577
@Stasik0 I think currently the only wrong expectations was about offline message replication among cluster nodes. But keep me posted, happy to help.

[2020-07-27 18:27] ynigoreyes commented on #1551
@ioolkos

Here are my steps to repro issue:

1. Build and run the latest commit of VerneMQ locally
2. Turn off authentication
3. Run commands below

mosquitto_sub -h 127.0.0.1 -t myTopic --insecure -V mqttv5 -c -i consumer -d
mosquitto_pub -h 127.0.0.1 -t myTopic --insecure -V mqttv5 -m "message 1" -q 1  -i producer  -d

(Exit consumer)

mosquitto_pub -h 127.0.0.1 -t myTopic --insecure -V mqttv5 -

[2020-07-27 20:35] ioolkos commented on #1551
@ynigoreyes this might be non-intuitive in MQTT, but if you want to persist messages you have to use a QoS > 0. The publisher and the subscriber can actually choose their QoS!

like this:
`mosquitto_sub -h 127.0.0.1 -t myTopic -V mqttv5 -c -i consumer -q 1 -d`

[2020-07-28 09:48] ioolkos opened #1578 "Regression in master regarding SUBSCRIBE"
With allow_subscribe_during_netsplit = on, currently SUBACKS are blocked.
This is a regression & bug.

[2020-07-28 10:57] Stasik0 commented on #1577
@ioolkos thanks for help
just doing the drop test again:

b1:
bash-4.4$ vmq-admin session show --client_id --offline_messages
+-------------+----------------+
|  client_id  |offline_messages|
+-------------+----------------+
|subscriber1-1|       0        |
|subscriber1-2|       0        |
+-------------+----------------+

b2:
bash-4.4$ vmq-admin session show --client_id --offline_messages
+------

[2020-07-28 11:23] Stasik0 commented on #1577
@ioolkos okay, the behaviour changed a bit if i set clean_session=false on the publisher aswell... now some messages look to be re-transmitted and also the offline_messages are stored, however some messages are still missing

this is what b2 shows after rebooting
11:01:14.242 [info] loaded 0 subscriptions into vmq_reg_trie
11:01:14.259 [info] cluster event handler 'vmq_cluster' registered
11:01:14

[2020-07-28 11:42] ioolkos commented on #1577
@Stasik0 okay, so you've seen the semantics of all those QoS and clean_session combos, right?

About the missing messages: how do you see that?

[2020-07-28 11:54] Stasik0 commented on #1577
semantics: to be honest, i am not sure why publisher also needs to have clean_session=false, HiveMQ behaves differently here. I also not able to read the "right" behavior from the spec: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html (secion 3.1.2.4)

Missing messages: we are stubborn enough to log output of both subscribers and compare them, publisher sends consecutively increa

[2020-07-28 12:12] ioolkos commented on #1577
@Stasik0 to get offline messages stored, the publisher doesn't have to have clean_session=false. The subscriber does. The publisher only has to use Qos > 0.

[2020-07-28 12:13] ioolkos commented on #1577
So what kind of lost messages do you see? can you share a test or script?

[2020-07-28 12:26] #1578 closed

[2020-07-28 13:15] Stasik0 commented on #1577
@ioolkos i see some missed messages and also reordering, however only on higher message rates (the particular one is around 100messages per second). For rates around 20-30 rps it seems to work.

Could you please tell me what this "online-queue-sync" is about. Does it mean that if b2 goes down forever, some messages will get lost?

I need to check, whether i can share tests with you.

[2020-07-28 17:46] ioolkos commented on #1363
Currently working on my above actor-as-id idea. Keeping you updated here.

[2020-07-29 09:50] sesky4 commented on #1410
@ioolkos Hi, I just hit the same issue.
In my understanding, the meta/ stores all the metadata like clientID, topic name... right?
I have a 2-node cluster, the cluster has been running for about 8 months.
Node 1 have a very big sst_4(39GB now), but  Node 2 is just 161MB.

My question is:
1. Is there any way to dump/export/see the content of those sst files? So it can helps me find out the reason.

[2020-07-29 12:51] Fossil01 opened #1580 "Shared Subscriptions on but still receiving messages on each subscriber"
### Environment

- VerneMQ Version: 1.10.3
- OS: Docker Image
- Cluster size/standalone: 4

### Expected behavior

- Messages published to a topic to be only consumed by one subscriber.

### Actual behaviour

- Each subscriber gets the same message

### Description

I have a cluster of 4 VMQ brokers, this all works fine. We have a NodeJS app that listens to 3 topics. Lets take the topic "card" as

[2020-07-29 13:02] Fossil01 commented on #1580
Okay so my colleague also read the docs and understood it differently than me :P I think it works now.

We are still publishing to `card` but now subscribed to $share/test/card and now I only get one message per consumer.

[2020-07-29 13:15] #1580 closed

[2020-07-29 14:21] kevin-olbrich opened #1581 "Providing an APT-Repository"
Is it possible to provide packages using an APT-Repository?
Upgrading debian packages manually does not sound like a secure solution.

[2020-08-03 06:10] ioolkos commented on #1581
Thanks @kevin-olbrich it's not the plan currently...

[2020-08-03 07:00] Erlandys opened #1586 "Issues on small node load"
### Environment

- VerneMQ Version: 1.10.3
- OS:
[code]
- Erlang/OTP version (if building from source): Erlang/OTP 21
- VerneMQ configuration (vernemq.conf) changes from the default:

[code]

- Cluster size/standalone: 2 standalone brokers

### Expected behavior

- Clients successfully logs in to brokers.

### Actual behaviour
Online clients varies 10-20k overall.

Problem is, that when there is l

[2020-08-03 09:19] ioolkos commented on #1577
@Stasik0 do you want to explore this further?

[2020-08-03 17:10] ioolkos commented on #1586
@Erlandys thanks, you seem to encounter some form of overload. Do you see queue migration for reconnecting clients?
You'll need to collect more information in case you want to find out why, and possibly you'll need to switch to better server specs.

For usage issues/questions, I'll routinely point to the Mailing list in the future: https://groups.google.com/g/vernemq-users (created only yesterday)

[2020-08-04 02:52] ATAKing1023 commented on #1410
+1

[2020-08-04 03:46] nguyenduybinh opened #1589 "Too many Console Warn log: [warning] <0.2728.651>@vmq_mqtt_fsm:connected:442 client {[],<<"xxxxxxxxxxxxxxxxxx">>} with username <<"xxxxxxxxx">> stopped due to keepalive expired"
### Environment

- VerneMQ Version: 1.10.3
- OS: Ubuntu 18.04
- Erlang/OTP version (if building from source): Install with deb package
- VerneMQ configuration (vernemq.conf) or the changes from the default

[code]

- Cluster size/standalone: Cluster 2 node

### Problem

Hi,

I have a problem with my vernemq cluster. I saw too many warning log in vernemq console log like this:

[code]

It's flood i

[2020-08-04 04:45] Erlandys commented on #1586
@ioolkos what output should indicated queue migration for reconnecting clients?

You see, the problem is that, clients are constantly connected to brokers and when connections are already made, VM usage is really small (5-10% CPU usage, 2GB of RAM~). This problem occurs only if we restart all VerneMQ brokers and after restart it's hard to connect all the clients, since all of those errors appears

[2020-08-04 05:14] ioolkos commented on #1589
@nguyenduybinh we log this so that you can see it and investigate and decide whether this is acceptable client behaviour to you or not.
Let's call it "sloppy" client behaviour, in any case: clients do not respect the keepalive timeout they have set. That is, they do not send Ping requests and/or use the keepalive timeout to disconnect, instead of sending a disconnect frame.

[2020-08-04 05:20] ioolkos commented on #1586
Okay, so it happens when you restart, that was the missing information. Then you overload client registration with the old plumtree protocol. There's different things you can do, one is managing the connect rate, one is switching to SWC protocol.
Do the clients always use the same clientIDs, or do they use 1-time clientIDS?

I'd be interested in your second issue. Please open a new Github issue wi

[2020-08-04 05:31] Erlandys commented on #1586
Clients always uses same clientIDs, those are constant and never changing and also, there cannot be more than 1 client with same client ID, each client uses own unique constant ID. I thought there may be some problems, since I've updated diversity plugin abit (added ability to auto subscribe from broker), also there were problems with auth_cache, if insert were made in 'on_register' lua hook and b

[2020-08-04 06:34] tharoldD opened #1590 "client forcefully disconnected by vernemq on request response call ."
### Environment
- VerneMQ Version: 1.10.4.1
- OS:
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone:

Current Docker Configuration:
[code]

### Expected Behavior on Request Response
Response topic is triggered

### Actual Behavior
2:20:44.145 [error] Ranch listener {{172,17,0,3},1883} terminated with rea

[2020-08-04 06:37] nguyenduybinh commented on #1589
Thanks for your quick reply, can you tell me how to trace and show that, this issue cause by client behavior?

[2020-08-04 06:51] ioolkos commented on #1590
@tharoldD thanks, this immediately looks like a bug to me.

The weird thing is, this function expects the topic as a list, so obviously has no case clause for the binary string.
https://github.com/vernemq/vernemq/blob/32542ffa55e0adfb62e1a667f9f1492445766414/apps/vmq_webhooks/src/vmq_webhooks_plugin.erl#L913

Can you maybe look in the `crash.log` for a more complete stacktrace on that error?

[2020-08-04 11:47] tharoldD commented on #1590
[crash.log](https://github.com/vernemq/vernemq/files/5021860/crash.log)

[2020-08-04 13:20] ioolkos commented on #1590
If you like, you can check whether PR https://github.com/vernemq/vernemq/pull/1591 fixes this.
I don't 100% understand what you do though (this might come from a topic name in your JSON, or sth like that)

[2020-08-04 14:49] #1590 closed

[2020-08-05 05:49] ioolkos commented on #1590
Issue was closed by merge. Feel free to re-open or comment.

[2020-08-05 05:51] ioolkos commented on #1589
@nguyenduybinh you can't really trace this from the server side.

[2020-08-05 06:54] #1589 closed

[2020-08-05 12:12] Fossil01 opened #1593 "Clustering broken after 10.4 update"
I was running a 4 node 10.3 cluster (1 cluster discovery node and 3 worker nodes) in Docker. Today I pulled the latest image and redeployed the service. The logs showed the containers started up but they could not connect to eachother.

I kept seeing: `cant connect to cluster node due to timeout` but when I logged in to one of the containers and checked the cluster health they were all there and h

[2020-08-05 12:27] ioolkos commented on #1593
@Fossil01 thanks... which image exactly did you use?
I'm not aware of any config change causing this. What you're seeing is the message channels (tcp connections between cluster nodes to forward messages) not opened. This is not the same as clustering, that's why you see a fully connected cluster.

[2020-08-05 12:29] Fossil01 commented on #1593
At first I had no image version set in the compose file so I guess it was using "latest". I have no reverted back to `vernemq:1.10.3` which resulted in a working cluster again.

[2020-08-05 12:34] ioolkos commented on #1593
@rubengees do you think that 'default net interface' thing we added could interfere here? (nodes not able to connect on port 44053 for internode message distribution). Do you run your cluster based on the 'latest' Docker package?

[2020-08-05 12:35] Fossil01 commented on #1593
I did run latest when it went wrong yeah, thats why it went from 10.3 to 10.4.

Whats that default net thing?

[2020-08-05 12:48] rubengees commented on #1593
@ioolkos Possible. I had a look in the prod cluster and the nodes are able to communicate (running the alpine image). I'll quickly try it in my dev cluster with the `vernemq/vernemq` image.

[2020-08-05 12:52] kdaveid opened #1594 "Limit cipher suites in Erlang SSL"
We are using ECC certificates based on `prime256v1` curve for TLS 1.2 connections. We would like to limit the cipher suites on Vernemq to a predefined group or (better) to exclude some weak suites via configuration.

For instance, exclude these weak cihper suites:  `secp160k1`, `secp160r1`, `secp160r2`, `secp192k1`, `prime192v1`.

As you're using Erlang SLL we consulted the [docs](https://erlang.o

[2020-08-05 13:07] ioolkos commented on #1594
@kdaveid  Thanks... here are the supported ciphers listed in the `vmq_ssl` module:
https://github.com/vernemq/vernemq/blob/43b186bd61ab9bc77f3d5ca7aa1f4bb43885206e/apps/vmq_server/src/vmq_ssl.erl#L147

You can add the ciphers to the `vernem.conf` with a key of `listener.ssl.$name.ciphers` with $name being the name of your TLS listener.
You can add the ciphers based on the list in the code above. I

[2020-08-05 13:18] Fossil01 commented on #1593
This is the hash of the image which did not work: 4a4903494e0e97b2d395044162b3b64ff43a3947cca5bb48ce095d149d9f680a

This is the one I am using now which does work:
223bc824e89c47965cafc29000f5cdd523b7e2c2d466043a3a4eabaacfb9d1de

[2020-08-05 13:53] rubengees commented on #1593
@Fossil01 Can you try pulling the `vernemq/vernemq:latest` image again? There has been a fix and `d4dd653a270c9abfb3cf9a1badcb0589b2d60b4345dbfb3546dd5eb19e14cfed` is the latest hash.

[2020-08-05 14:05] Fossil01 commented on #1593
Still broken.

[code]
[code]

[code]

I don't know where 4a4903494e0e97b2d395044162b3b64ff43a3947cca5bb48ce095d149d9f680a comes from.

This is the master:
[code]

One of the workers:

[code]

[2020-08-05 15:29] #1576 closed

[2020-08-05 15:30] #1571 closed

[2020-08-05 15:33] #1515 closed

[2020-08-05 15:34] #1469 closed

[2020-08-05 15:35] #1419 closed

[2020-08-05 15:35] #1418 closed

[2020-08-05 16:50] kdaveid commented on #1594
According to your hint we updated our `docker-compose.yml` to the following (extract):

[code]

And verified:
[code]

This works like a charm 🎉
Thank you! 🙏🏼

[2020-08-05 16:59] ioolkos commented on #1594
@kdaveid great to hear :+1:

[2020-08-06 01:52] nguyenduybinh commented on #1586
Hi,

I have the same issue last night with cluster 2 node and Vernemq version is 1.10.3. The resource usage of server isn't too busy, but client can't register and subcribe to the topic to receive messages

[2020-08-06 15:08] hongkongkiwi opened #1599 "Hot Reload with Hashicorp Vault"
Hi there,

I'm planning to use VerneMQ with Hashicorp Vault to have dynamic database credentials.

At some point the database credentials will expire and need rotation, I would like to be able to hot reload vernemq so that downtime is minimized and I don't disconnect existing connections.

Is there any way to do this at the moment? I have an external script which can send a reload signal to VerneM

[2020-08-06 16:02] ioolkos commented on #1599
@hongkongkiwi Thanks, interesting. I suppose this is for one of the Lua scripts? (for which of the DBs?).
To be honest, I don't know the answer from the top of my head. But this should be easily testable. Best case would be that disabling/enabling the plugin would be enough - this wouldn't touch existing connections.

[2020-08-06 23:37] djsakisd opened #1600 "invalid_response_code,413"
Hi

Each time i try to publich a large payload > 8 MB client get's disconnected , vernemq throws this in error.log : `@vmq_mqtt_fsm:auth_on_publish:727 can't auth publish [<<"sam">>,{[],<<"testing-client-id-paho-mqtt">>},0,[<<>>,<<"test">>,<<"test-sub-topic">>],<<73,68,51,3,32,32,32,2,95,124,84,65,76,66,32,32,32,61,32,32,1,239,163,187,207,142,66,32,97,32,100,32,32,32,66,32,111,32,121,32,115,32,32,

[2020-08-07 06:23] ioolkos commented on #1600
@djsakisd
This is your authentication WebHook endpoint not accepting payloads > 7.5 MB.

Please re-configure the endpoint, or do not forward the payload to the auth endpoint:
`vmq_webhooks.mywebhook1.no_payload = on`

https://docs.vernemq.com/plugindevelopment/webhookplugins

[2020-08-07 07:16] nguyenduybinh commented on #1586
I can reproceduce this issue with emqtt-bench tools.

I use emqtt-bench to stresstest my vernemq 2 node cluster. I create 10000 connected clients to my vernemq cluster, and then disconnected these clients from cluster. When disconnect clients from cluster, cluster was busy with high CPU load.
When all client disconnected, the cluster back to normal.

I repeat above step many times, and sometimes y

[2020-08-07 07:59] djsakisd commented on #1600
@ioolkos

Thank you for your time and help, setting no_payload = on as you suggested to all webhooks resolved the issue.

[2020-08-07 07:59] #1600 closed

[2020-08-07 08:22] nguyenduybinh commented on #1586
@ioolkos do you have any idea for this issue?

[2020-08-09 13:24] hongkongkiwi commented on #1599
At the moment I'm using the Diversity plugin with MySQL.

That's a good idea, do you have an example of how I could disable and enable using the admin tool? This could be a good reload command.

Generally, how does Vernemq behave when it receives the SIGHUP term signal?

[2020-08-09 14:01] ioolkos commented on #1586
@nguyenduybinh what's in your logs? how did you disconnect the clients?

[2020-08-10 13:58] kdaveid commented on #1594
Unfortunately we have to reopen the issue because limiting the cipher suites in the way described above is not enough. Vernemq, on TLS 1.2 still offers weak cruves:

[code]

We would like have a black list of weak curves we want to exclude.

How is this possible?

[2020-08-10 16:06] ioolkos commented on #1594
@kdaveid how did you test this? (your quoted snippets are output, what is your input?)

[2020-08-11 08:19] kdaveid commented on #1594
We use https://github.com/drwetter/testssl.sh

[2020-08-11 08:30] ioolkos commented on #1594
@kdaveid Thanks, found out it probably was this.

is it possible you give me something literal, like a command? it just makes it so much easier and clearer, and I don't have to make assumptions.

[2020-08-11 09:32] nrvmodi opened #1603 "Vernemq crash Client vmq_swc_store_batcher_meta1 stacktrace"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-11 09:32] nrvmodi commented on #1603
2020-08-11 09:11:50 =ERROR REPORT====
** Generic server vmq_swc_store_meta1 terminating
** Last message in was {batch,[{{<0.13220.9>,#Ref<0.3476064803.1689518082.194216>},{write,[{{{vmq,subscriber},{[],<<"58:7b:e9:18:01:64">>}},{{1597,137110,382751},[{'VerneMQ@ray-mqtt-prod-2.ray-mqtt-prod-headless.ray-prod.svc.cluster.local',true,[{[<<"mesh">>,<<"broadcast">>,<<"58:7b:e9:18:01:64">>],2}]}]},undef

[2020-08-11 09:33] nrvmodi commented on #1603
What should be the problem?

[2020-08-11 11:05] ioolkos commented on #1603
@nrvmodi I cannot identify the problem, but for SWC the 1.8.0 release is certainly early days. Can you upgrade?

[2020-08-11 11:27] vetriedi opened #1604 "Vernemq Permission denied error"
### Environment

- VerneMQ Version:
- OS:ubuntu 16.04
- Erlang/OTP version (if building from source):Erlang/OTP 22 [erts-10.6.4]
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone:standalone

make rel cmd successfully  created the release

===> Including Erts from /usr/lib/erlang
===> release successfully created!

root@ubuntu-listener:/option/_build/d

[2020-08-11 13:20] kdaveid commented on #1594
Hi @ioolkos
We run it like this: `./testssl.sh localhost:8883`

[2020-08-11 13:41] #1604 closed

[2020-08-11 13:42] ioolkos commented on #1594
Thanks. Will check.

[2020-08-11 16:50] nrvmodi opened #1605 "Ranch listener {{0,0,0,0},1884} had connection process started with vmq_ranch"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-11 17:24] nrvmodi commented on #1603
I have tried to upgrade but facing some issue
https://github.com/vernemq/vernemq/issues/1605

[2020-08-11 17:37] ioolkos commented on #1605
@nrvmodi this happens when a loadbalancer uses the proxy protocol for health checks. The crash is harmless (not a functional issue), but obviously very spammy in case of LBs doing lots of healthchecks.

I fixed this in master a couple days ago, but it's not in the latest release.

[2020-08-12 06:03] nrvmodi commented on #1605
Can you tell us in which release it will be resolved?

[2020-08-12 06:54] ioolkos commented on #1605
@nrvmodi in next release 1.10.5, or 1.11.0 (depending on features added). In a couple weeks.
Please note that from release 1.10 commercial use of those packages is under a subscription model.

[2020-08-12 08:12] parikshittyagi commented on #1528
Hey, I am also facing the same problem.
![verneMQMessageQueue_1](https://user-images.githubusercontent.com/32409255/89991379-658ff500-dca1-11ea-8a16-1bd9d18aa05f.png)

I use this command

to checkout the offline sessions and then I started a new session with "clean" as true.

[2020-08-13 18:44] onrao opened #1606 "Data loss observed from ernemq to clients where clients doesn't have a clientID but uses the same username and password"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-13 18:56] onrao commented on #1606
Clients are using the shared subscription

[2020-08-13 19:01] ioolkos commented on #1606
@onrao could you be even more specific? what is data loss? how do you determine that?
how many shared subscribers, with what shared subscriber policy? have you tested with providing a ClientID vs no ClientID?

[2020-08-14 09:35] spalagu opened #1607 "What should I pay attention to when upgrading from v1.10.0 to v1.10.4.1? Such as compatibility, configuration"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-14 11:06] kdaveid commented on #1594
Any news on this? We can open a support ticket (we have several licences) if that helps. We're currently blocked at the security review by this.

[2020-08-14 15:43] ammma opened #1608 "Is it possible to use 'on_publish' hook in Lua script?"
### Environment
- Docker: vernemq/vernemq:latest

### Expected behavior

My goal is to make VerneMQ send published data to Redis. And looks like using hooks and Lua scripting is a right way to go.

### Actual behaviour
 I've registered following Lua script:

[code]

I can see that script was loaded and connection to redis made. It successfully executes `redis.cmd(pool, "RPUSH clients:events lua_sc

[2020-08-14 16:42] ioolkos commented on #1608
Test example here: https://github.com/vernemq/vernemq/blob/4f0bbab8de80bb3b55497471c88d59d4e7de5eb0/apps/vmq_diversity/test/plugin_test.lua#L88
`on_publish` is called for side effect. don't return true.

Maybe this helps too: https://github.com/vernemq/vernemq/issues/1497

[2020-08-17 06:27] spalagu opened #1609 "Ranch listener {{0,0,0,0},8883} terminated with reason: no match of right hand value {error,{options,{socket_options,sndbuf,einval}}}"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-17 06:49] ioolkos commented on #1609
@spalagu thanks, that's a new one...
It seems that the sndbuf settings triggers an invalid argument ('einval') lower in the system/OS.

Have you adapted any settings, especially the TCP buffer settings?

[2020-08-17 09:26] spalagu commented on #1609
thanks for reply, here is my settings
[code]

[2020-08-17 09:31] spalagu commented on #1609
and the sysctl settings
[code]

[2020-08-17 09:34] ertanden commented on #1363
Just checking in if there's any update on this? Thanks.

[2020-08-17 09:45] ammma commented on #1608
@ioolkos that helped, thanks a lot.

[2020-08-17 09:45] #1608 closed

[2020-08-17 10:43] rubengees opened #1610 "Lots of errors on controlled termination of node in cluster"
### Environment

- VerneMQ Version: 1.10.4.1
- OS: Alpine Linux (Docker)
- Erlang/OTP version (if building from source): 23
- Cluster size/standalone: 3

### Expected behaviour

No excessive logs and/or crashes when node goes down (at least if controlled).

### Actual behaviour

Many logs with lines that look like crashes. See below.

VerneMQ runs with 3 nodes in a k8s cluster. Each node is termin

[2020-08-17 13:55] onrao commented on #1606
Hi ioolkos

Thank you for the reply,
We would like to understand the behaviour  of verneMQ when
1. There is no clientID in Connect request and client provides only registered username,password, keepalive session as 0, connect timeout as 60*60*1000

2.We had this client application from 3rd party  which is enabling the Shared subscription with policiy  on topic filter "$shared/json//+/+/attrs"

Whe

[2020-08-18 06:58] Erlandys commented on #1514
Problem still persists and the reason for this is, that defined PIDFile contains PID of 'beam.smp' process, which is launched by 'run_erl' process. SystemD can track only child of itself, not grandchild, which happens to be 'beam.smp', thats why message is shown, that this process is not supervised. When VerneMQ broker dies, 'epmd' daemon is still active, main process is not supervised since its g

[2020-08-18 07:21] ioolkos commented on #1609
@spalagu can't see an obvious problem in configs.
How exactly do you connect clients? are you sure they use the correct transport (TCP/SSL)?

The error here happens when Verne asks the socket for its buffer sizes, and then chooses the biggest of those to allocate an internal buffer.

[2020-08-18 09:49] spalagu commented on #1609
the clients and server communicate only through SSL, and
I speculate that this error is caused by the instantaneous increase a lot of vernemq connections triggered by my other service failure

[2020-08-19 09:18] Erlandys commented on #1586
@ioolkos changing to SWC protocol trully helped to reduce CPU usage and increase connection rate after restart.

Now with SWC this error appears pretty often (this appears all the time, not only after restart):
[code]

[2020-08-19 09:41] nrvmodi commented on #1363
Is there any update on this?

[2020-08-20 00:07] moscara commented on #569
Hi @ioolkos does this then mean that if a client disconnects unexpectedly with the client_id "123", when it reconnects it gets a new client_id "456" from the broker and loose any messages in process or queue? Sorry if I am asking a stupid question, I am new to Mqtt and learning it through VerneMQ.

[2020-08-20 07:40] ioolkos commented on #569
@moscara note that the client sets the ClientID. It should use the same ClientID normally, for the reason you mention: it wouldn't have access to stored messages otherwise.

[2020-08-20 07:47] ioolkos commented on #1610
@rubengees you're seeing this while taking down the nodes, or after you have rebooted the cluster?

Anyway, the reason this is logged, is that Verne tries to check for queues on other nodes for an in-coming subscriber. This is most likely not a critical thing though.

[2020-08-20 09:20] rubengees commented on #1610
@ioolkos This happens when taking down a single node. For us that happens in our k8s cluster when we either scale down or deploy a new version of vernemq (rolling deployment).

Yes, everything seems to work fine! We were just not sure if these logs indicate any problems since there are many and they say `CRASH REPORT`.

[2020-08-20 09:24] moscara commented on #569
Thank you for the reply. It reasoning is clear to me now.

[2020-08-20 11:19] RedShift1 commented on #1514
I'm unable to keep VerneMQ running with systemd (CentOS 7).

`/bin/systemctl start vernemq.service` hangs until it is killed by systemd after 1 hour. Logs:

[code]

Package version: vernemq-1.10.4.1-1.x86_64

[2020-08-20 11:22] ioolkos commented on #1514
@RedShift1 hm...anything logged, in the Verne logs? sudo?

[2020-08-20 11:25] RedShift1 commented on #1514
I have vernemq set to log to syslog. Here's the entire log:

[code]

[2020-08-20 11:38] RedShift1 commented on #1514
In the unit file PIDFile is set: `PIDFile=/run/vernemq/vernemq.pid`. But this PID file is never created. That's probably why systemd is waiting.

[2020-08-20 11:53] Erlandys commented on #1514
@RedShift1 I had the same problem, it was because in '<VerneMQ_Directory>/etc/env.sh' `RUNNER_USER` was empty (built verne myself with `make rel`). After setting `RUNNER_USER=root`, Verne still wasn't creating pid file, then in `create_pid_dir` function, I changed IF, for user checking, to be same user, not different.

[2020-08-20 12:19] RedShift1 commented on #1514
The problem seems to be here:

[code]

In the countdown loop, $WAIT_FOR_PROCESS is set to "vmq_cluster_node_sup". But this process never runs (I think?), so the loops exits with an error state and never creates the pid file.

[2020-08-20 12:23] Erlandys commented on #1514
@RedShift1 but it looks like your broker goes up successfully and it looks like theres no such messages as described in this script if it fails, so I guess the problem is not in this part.

[2020-08-20 12:29] RedShift1 commented on #1514
Added `` to /etc/rc.local like a caveman. It outputs the following:

[code]

But the processes are running:

[code]
So caveman hammer works good enough I think?

[2020-08-20 12:42] RedShift1 commented on #1514
Ok so I narrowed it down to something complete different: nodename in vernemq.conf:

[code]

I had nodename set to `VerneMQ@websrv1` and then I was seeing the behavior where `service vernemq start` would hang. I changed it back to the default and now VerneMQ starts successfully using systemd. Clearly `nodename` isn't just a text field and its content has meaning somewhere, but I cannot find any do

[2020-08-20 18:43] ioolkos commented on #1610
@rubengees jep, so what probably happens is that all those disconnected clients re-connect to the other nodes.
Yeah, the word `CRASH` is quite often used in Erlang, and its Let it crash philosophy... it's not necessarily a bad thing, just means a process got terminated (which is expected). Of course, here it's still logged as an error as its a runtime error.

[2020-08-20 21:43] varnerac commented on #1594
This will require a patch to VerneMQ to support the `{eccs, [named_curve()]}` [option](https://erlang.org/doc/man/ssl.html#type-common_option) similar to how ciphers are handled.

https://github.com/vernemq/vernemq/blob/master/apps/vmq_server/src/vmq_ssl.erl#L64

I threw up a quick hack, adding the following line below the ciphers line (linked above)

[code]

and it made testssl.sh happier

[code]

[2020-08-20 22:05] varnerac commented on #1594
@kdaveid Would you be okay with a elliptic curve allow list option instead? My concern with denying a list of curves is that if a weak curve is added when you upgrade the underlying OpenSSL, a curve you did not expect could appear later.

[2020-08-21 04:18] kdaveid commented on #1594
A whitelist is fine too.

In our case we have a closed system and issue our own certificates. So it's in our hands.

Thank you @varnerac

[2020-08-21 04:54] nrvmodi commented on #1363
Hello @ertanden, @ioolkos, Have you got any workaround for this with Deployments Kind instead StatefulSets. I have tried with Deployment kind but I couldn't create cluster and it throws below exception while executing `_vmq-admin cluster show_` command.

**node 'VerneMQ@ray-mqtt-prod-ff96b878d-h7zm4.ray-prod.svc.cluster.local' not responding to pings.**

I am using the helm chart of vernemq.
I had

[2020-08-21 05:05] ioolkos commented on #1363
@nrvmodi could you please copy/paste this to a new issue?

This thread is for an issue related to nodenames and SWC but unrelated (as far as I see to your questions)

[2020-08-21 05:29] nrvmodi commented on #1363
@ioolkos Thanks for quick reply. I have raised that issue.

[2020-08-22 14:17] Roydon opened #1611 "vernemq cluster node terminate due to remote_node_not_available"
### Environment

- VerneMQ Version: vernemq/vernemq:1.10.4.1
- OS: Kubernetes (Linux)
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default
  vernemq.conf: |

[code]

- Cluster size/standalone: 3 Node Cluster

### Expected behaviour

Nodes are forming a cluster

### Actual behaviour

Nodes are not forming a cluster

manifest file

[c

[2020-08-24 11:27] natrajT opened #1612 "Building from source 1.10.4 is failing with error "Makefile:24: recipe for target 'rel' failed""
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-08-24 11:37] #1612 closed

[2020-08-25 08:01] ioolkos commented on #1612
sorry, forgot comment yesterday: cannot reproduce this & therefore don't know how to help.

[2020-08-25 09:13] rubengees commented on #1610
@ioolkos I see, thanks for the clarification! So I guess this should/will be left as is?

[2020-08-25 15:01] Ju-Ru commented on #1577
Hello, I have a similar setup and question and would like to pick up the thread.

Just to verify my assumptions, here some statements and questions:
- Sessions are not synchronized among nodes to cope with ungraceful leaves. Having such a feature would mean some kind of copy of sessions stat would be kept at other nodes that could take over in case of node failures or netsplits. This is not the ca

[2020-08-25 15:14] Ju-Ru commented on #1551
@ynigoreyes Interesting work you are describing in your discussions. Do you have any plans to make the result publicly available at some point?

[2020-08-26 16:18] ioolkos commented on #1610
@rubengees thinking about what to do. Low prio, so it will not be addressed asap.

[2020-08-26 19:39] khodzha commented on #1363
@ioolkos do you need any help with this? we experience the issue too

[2020-08-26 19:49] ioolkos commented on #1363
@khodzha thanks, possibly, will see in the next days. this touches the probably most complex part of the whole broker (SWC).

To be sure: what is "the issue" and what is the VerneMQ version you're using? can you reproduce this, for instance: https://github.com/vernemq/vernemq/issues/1363#issuecomment-643186009

[2020-08-26 21:00] khodzha commented on #1363
we observe errors like `Process vmq_swc_store_meta1 with 0 neighbours crashed with reason: no case clause matching {ok,{3,%huge_number%}} in swc_node:event/2 line 186` in `1.10.2`

the script by ertanden you linked works neither in `1.10.2` nor in `1.10.4.1` (client connected to the second node doesnt receive `world` message)

i understand this is complex topic, trudging through the paper is alrea

[2020-08-29 14:36] anupbvr opened #1613 "Web book to listen QOS 2 message acknowledgment from client"
### Environment

- VerneMQ Version: Latest
- OS: Linux

### Expected behaviour

VerneMQ to publish web hooks for QOS 2 message acknowledgement from client, once the messages are delivered successfully.

### Actual behaviour

In the current architecture, a web hook called on_deliver delivers the message when it is being delivered. But in QOS-2 use case, message is considered successfully delivered,

[2020-08-31 06:28] ioolkos commented on #1613
Discussed in https://groups.google.com/g/vernemq-users/c/RoyC2cZOr1Y

[2020-08-31 13:07] ioolkos commented on #1594
@kdaveid if you want to test this before we merge, here's the PR: https://github.com/vernemq/vernemq/pull/1614

You'd need to build Verne yourself with that PR, and then configure ECCs in `the vernemq.conf`.
As per @varnerac's documentation  in schema file:
[code]

[2020-08-31 13:42] varnerac commented on #1594
Gah, that's a bug. Format should be `[sect571k1,secp521r1,brainpoolP512r1]`

[2020-08-31 16:35] kdaveid commented on #1594
Looks good to me. Since I'm on vacation right now I'll teat v.1.10.5 as soon as I'm back and give you feedback.

Cheers!

[2020-08-31 16:54] varnerac commented on #1594
I tested locally with `testssl.sh`. Worked for me. There appears to be an issue with the `prime*` curves where Erlang doesn’t know about them. If that becomes an issue, I’d ask for a new issue. It’s not at the VerneMQ layer.

[2020-09-01 08:38] ioolkos opened #1615 "Direct plugin export function block until cluster ready (affecting bridge plugin for example)"
This was intentional: https://github.com/vernemq/vernemq/blob/9eb5abcf02c2d0fe7bcceb7c416f0a8d2283f76b/apps/vmq_server/src/vmq_reg.erl#L715

But the question is whether plugins really do benefit from it.
Imagine the bridge plugin, set up as a push bridge. Let's say the target cluster is node A clustered to node B, the bridge being connected to node A. While node B is down, the cluster is obviously

[2020-09-01 13:20] mladen-djordjevic commented on #936
In VerneMQ [1.10.4](https://github.com/vernemq/vernemq/blob/master/changelog.md#vernemq-1104) release, one of the features is:
- Add compatibility with Erlang/OTP 23

Does it mean that VerneMQ now supports TLS 1.3?

[2020-09-01 13:24] ioolkos commented on #936
@mladen-djordjevic in theory, yes. feel free to test and report back.

[2020-09-02 10:34] anupbvr commented on #1613
@ioolkos

Shall continue the discussions here, on the requirement.

To highlight, we are performing an evaluation on VerneMQ, and Quoting the one of the major data recovery business objective below,

We consider the following cases for message persistence, which must be used for recovery.

1. Offline messages (which are available via web-hook)
2. Messages which are not acknowledged, but delivered.

[2020-09-02 11:13] ioolkos commented on #1615
I think a fair approach will be to make the `direct_plugin_exports` follow the CAP configurations in the `vernemq.conf` file. (as VerneMQ does internally).
This will not require any changes for existing plugins, but might have some consequences for plugin developers in terms of what the expected behaviour is. But better than suprises for VerneMQ operators :)

[2020-09-03 12:26] ornell commented on #1509
@ackratos Did you figure this one out?

[2020-09-03 17:57] bpoulse opened #1616 "Invalid protocol version 5"
Bear with me on this one, there are several interacting pieces of software, so if this is the wrong repo to post this issue in please let me know.

I have setup a Vernemq cluster (1.10.3) using the Helm chart (1.6.3) in a Kubernetes (microk8s 1.18) deployment. The Helm values.yaml is as below:
[code]
I am communicating with this cluster using an MQTT.js WebSocket client. When connecting to the bro

[2020-09-03 18:02] ioolkos commented on #1616
@bpoulse you need to set the `allowed_protocol_version` on a listener or protocol level.
Example:
`listener.tcp.default.allowed_protocol_versions` = 3,4,5
this would be for a TCP (MQTT) listener named `default`. Adapt accordingly.

[2020-09-03 18:25] bpoulse commented on #1616
Thank you, that allowed me to figure it out. I am indeed in the wrong repo. For anyone with this issue it is a simple configuration change that can be specified using the environment variable:
[code]

[2020-09-03 18:25] #1616 closed

[2020-09-04 09:45] GoneGo1ng opened #1617 "The ACK of V3.1 and V3.1.1 is different for the same message (except for the MQTT version)"
I modified redis.lua, results in different versions of MQTT messages.
Probably because v3.1.1 was released quickly without a wait, but I couldn't fix that.

[code]

### Environment

- VerneMQ Version:vernemq-1.9.1.centos7.x86_64.rpm
- OS:CentOS 7
- VerneMQ configuration (vernemq.conf) or the changes from the default

[code]

### Expected behavior

 - V3.1 ack 20 02 00 00
 - V3.1.1  ack 20 02 00 00

[2020-09-04 11:09] Fossil01 commented on #1553
Sorry for the late reply. No, I resorted to just allowing every topic for now.

[2020-09-04 11:13] Deb150 commented on #1593
I am getting same issue in VerneMQ Cluster set up ... data not replicating between nodes in cluster . which is basic functionality in Cluster mechanism. I have tried in those version of VerneMQ (1.10.0,1.10.2,1.10.3 and 1.10.4 )
All version same issue ..
In console log can see below message.

[info] successfully connected to cluster node 'VerneMQ@vernemq-1.vernemqcluster.cloud.com'
[warning] termi

[2020-09-06 03:24] nitan2001 commented on #1604
Hello vetriedi,

Have you resolved this issue?
Could you share it?
Thank you.

[2020-09-07 06:15] ioolkos commented on #1613
@anupbvr thanks for your suggestions. First action point is to understand the requested feature in detail, second to decide whether this is something that matches technical roadmap of VerneMQ and whether we want to support & maintain those added features in the future.
And third, find a possible sponsor for development.

[2020-09-07 08:45] ATAKing1023 opened #1618 "Is it possible to disable auth_on_publish webhook separately?"
### Environment

- VerneMQ Version: 1.9.2
- OS: CentOS 7
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default
    - `plugins.vmq_webhooks = on`
    - webhooks configured
- Cluster size/standalone: standalone

### Expected behaviour

We'd like to disable the auth_on_publish webhook while enabling others (auth_on_register etc.), is it

[2020-09-07 09:28] Goost91 opened #1619 "VMQ-Diversity: Passwords are logged in connection error message"
### Environment

- VerneMQ Version: using docker image vernemq/vernemq:latest
- OS: Debian 9
- Erlang/OTP version (if building from source):
- Cluster size/standalone: standalone
- VerneMQ configuration (vernemq.conf) or the changes from the default

allow_anonymous=off
log.console=console
log.console.level=debug
plugins.vmq_acl=off
plugins.vmq_diversity=on
plugins.vmq_passwd=off
vmq_diversity.pos

[2020-09-07 10:07] ioolkos commented on #1619
@Goost91 thanks, I agree this needs to be adressed. We either try to sanitize stuff in the logs, or take out those logs manually if this is possible.

This is currently not configurable as you have found already.

[2020-09-07 11:50] ioolkos commented on #1618
I think this is documented here. You don't need to configure or dynamically register webhooks you don't need. https://docs.vernemq.com/plugindevelopment/webhookplugins#configuring-webhooks.

You still need another plugin to authorize the publishs.

[2020-09-07 16:50] Deb150 commented on #1593
@Fossil01
Hello Fossil01  ,

Can you please help me on clustering in version 1.10.3 , means what is your VerneMQ  configuration  and how you did the setup.
I have followed as per VerneMQ documentation , But clustering not working in 1.10.3 .
your help is much appreciated!!

[2020-09-07 17:33] ioolkos commented on #1593
You need to investigate network connectivity/network interface issues.
https://github.com/vernemq/docker-vernemq/issues/236#issuecomment-688414561

[2020-09-08 03:24] ATAKing1023 commented on #1618
Thanks.

Is it possible to benefit from the auth_on_register webhook while leaving auth_on_publish blank?
Is it possible to publish messages to VerneMQ when our webhook service is down?

[2020-09-08 03:28] ATAKing1023 commented on #1618
It would be nice if there is something like `vmq_webhooks.mywebhook1.disabled = true`

[2020-09-08 10:38] Fossil01 commented on #1593
@Deb150

[code]

[2020-09-08 11:35] Deb150 commented on #1593
@ioolkos
Thank you for your above suggestion.
I have installed Vernemq in 3 EC2  and trying to make as cluster . so what are the network connectivity/network interface issues could be ? all the port has given in inbound rule .

[2020-09-08 14:28] SebUndefined commented on #1593
Please try to specify the interface where VerneMQ should listen (for MQTT, MQTTS and also cluster sync). If you do not, I guess the default is eth0.

[code]

You have several directives for networks, please put all of them in a unique one :

Your current config :

[code]

should be :

[code]
You can know the name of the interface as Docker Swarm and Compose will assign the network interface in alp

[2020-09-08 18:04] eduardogmisiuk commented on #1363
We too are experiencing these issues. The version we are using is `1.10.0`, here are some of the errors that appear to us:
[code]

We don't use persistence too, and it was the first test with the cluster. Two of the three instances died in the middle of the test, we are not really sure if the error began to occur after this incident or if it was occurring before.

[2020-09-08 18:15] ioolkos commented on #1363
@eduardogmisiuk what was/is the test doing?

[2020-09-08 18:27] eduardogmisiuk commented on #1363
It was a 100,000 clients test. We use Locust to create the clients, using certificates to connect to VerneMQ. The clients subscribe to a separate topic each one (e.g. the client publish to admin:123abc/attrs and receives the same message in the topic admin:123abc/config), with 1 message each 30s for each client.

[2020-09-08 19:33] ioolkos commented on #1363
@eduardogmisiuk thanks, can you give me a complete (non-truncated) log from the crash.log instead of console.log for that first line with the `case clause` error?

During the test, did you collect metrics for the nodes? did they get into memory pressure?

[2020-09-08 19:59] eduardogmisiuk commented on #1363
Here it is, is this sufficient?
[code]

Yes, I collected, but it seems normal to me, the highest consume was 4.5GB for vernemq-k8s-2 out of the 16GB we have in the node.

Thanks!

I think we can do it tomorrow, but I don't know if we can replicate it.

[2020-09-09 12:13] eduardogmisiuk commented on #1363
@ioolkos sorry, we will not be able to run a test with the `1.10.4.1` version for now. Whenener I can do it, I'll give some feedback here. I hope that at least we've helped a bit with the given information!

[2020-09-09 12:19] ioolkos commented on #1363
@eduardogmisiuk sure, thanks nonetheless

[2020-09-09 23:37] blokovi opened #1620 "Handle list of websocket subprotocols"
### Environment

- VerneMQ Version: 1.10.4.1
- OS: Official docker image
- Erlang/OTP version (if building from source): Official docker image
- VerneMQ configuration (vernemq.conf) or the changes from the default: No changes
- Cluster size/standalone: standalone

### Expected behaviour

Using [gorilla](github.com/gorilla/websocket
) websocket package to connect vernemq with following parameters:

[2020-09-10 01:33] codeadict commented on #1619
This circles back to https://github.com/vernemq/vernemq/issues/1017

[2020-09-10 07:05] nitan2001 opened #1621 "How to config the user name and password"
Good day,

I am configuring my local mqtt broker in debian.
Could anyone give some advice of how to config the user name and password?

I check the link of it as below, but it only supports of how to create a new user, but no password configuration.
Thank you.

https://docs.vernemq.com/configuration/file-auth

[2020-09-10 07:51] ioolkos commented on #1621
@nitan2001 example:
`vmq-passwd -c /etc/vernemq/vmq.passwd henry` will ask you for a password to add for user henry.

[2020-09-10 09:11] #1617 closed

[2020-09-10 09:20] nitan2001 opened #1622 "The client can't be connected to the MQTT broker over TLS with the self-signed cert file."
### Environment

- VerneMQ Version: Latest
- OS: debian

SSL: enabled
name/password: enabled

### Actual behaviour
- The client can't be connected to the MQTT broker over TLS with the self-signed cert file.

I can see the message from wireshark:
1) client hello
2) server hello, certificate
3) alert: fatal, description: handshake failure

What I have done:
I tried to add my cert to be trusted by op

[2020-09-10 09:21] nitan2001 commented on #1621
Thank you @ioolkos.
It makes sense.

[2020-09-10 09:21] #1621 closed

[2020-09-10 10:34] ioolkos commented on #1620
@blokovi thanks, I wouldn't think this is a regression, as the error is different (badrecord in state).
Let me understand and fix this.

[2020-09-10 13:37] mstavrev commented on #1570
I am evaluating the use of VerneMQ as MQTT broker that needs to be scalable and HA. I see this issue and it may explain some of the problems I had encountered during load-testing on a 3 node cluster. Do you know if the 'random' setting for the shared_subscription_policy parameter would cause the same problem, or it is specific to precisely to 'prefer_local'?

[2020-09-11 04:15] codeadict commented on #1500
This is due to an issue in the bcrypt library when you have some LDFLAGS available in your environment, which you definitely need for other things like OpenSSL headers. Submitted a pull request on https://github.com/erlangpack/bcrypt/pull/17. CC @ioolkos

[2020-09-11 08:26] ATAKing1023 opened #1623 "Error calling HTTP API to list sessions"
### Environment

- VerneMQ Version: 1.9.2
- OS: centos 7

### Expected behaviour

### Actual behaviour

Calling HTTP API: `http://192.168.163.102:8888/api/v1/session/show?--node&--mountpoint&--client_id=WEB@@3fb318f5&--queue_pid&--queue_size&--session_pid&--is_offline&--is_online&--statename&--deliver_mode&--offline_messages&--online_messages&--num_sessions&--clean_session&--is_plugin&--user&--pee

[2020-09-11 08:30] ATAKing1023 commented on #1623
BTW, the api returned the following correct result:
[code]

[2020-09-11 20:33] jhhurwitz opened #1624 "High queue message drop rate without warning"
### Environment

- VerneMQ Version: 1.9.1
- OS: Alpine (deployed using docker-vernemq)
- VerneMQ configuration (vernemq.conf) or the changes from the default:

[code]

- Cluster size: 2

### Expected behaviour

queue_message_drops would produce some type of warning log to identify the delinquent subscriber

### Actual behaviour

high queue_message_drop rate without log information about the subscr

[2020-09-12 05:13] donileo opened #1625 "FreeBSD 12.1-RELEASE-p8 build issues"
Getting an issue building the latest master branch on FreeBSD 12.1-RELEASE-p8. Doing `gmake rel` on the master branch of vernemq gives:

[code]

[2020-09-12 05:39] ioolkos commented on #1625
@donileo I think you need snappy or libsnappy or snappy-devel (I don't know what it is on FreeBSD) installed.

[2020-09-12 05:58] donileo commented on #1625
Yup you are right I was just about to post the following debug from rebar3 which exits with a exit code 1:
[code]

[2020-09-12 06:09] ioolkos commented on #1624
@jhhurwitz thanks, I think this should be logged, yes. Can you grep logs for "dropped" or the like, and check the log levels?

[2020-09-12 06:10] donileo commented on #1625
I do have it installed. Maybe the detection for snappy is failing somehow?

[2020-09-12 06:25] ioolkos commented on #1623
@ATAKing1023 that's an interesting one. I don't immediately see what makes the query handler trip here. Can you try reducing the flags in the call and see whether you find out more?

[2020-09-12 07:09] ioolkos commented on #1622
@nitan2001 Thanks, I don't really see an effective way of helping out here. Can you open a connection to the server with the same cert using openssl's client?

[2020-09-12 09:30] jhhurwitz commented on #1624
I did confirm there were no logs related to the drops while the queue_message_drop metric increased. Our logging was configured at Info level and above.

Interestingly, the queue_message_drop rate started right after a client disconnected and abruptly went to zero at the end of the persistent client expiration period (6 hours). Clearing the offline session using vmq-admin had no effect on the queu

[2020-09-12 21:56] donileo commented on #1625
PR to fix this issue added here: https://github.com/vernemq/eleveldb/pull/9

[2020-09-13 14:14] #1500 closed

[2020-09-14 01:14] ATAKing1023 commented on #1623
Unfortunately it's not reproduceable continuously.
We have a service calling the VerneMQ API frequently. Only few of the call failed with status 500 internal server error, regardless of the flags. (I tried calling the API directed through the web browser with same flags and succeed, while some call with no flags failed.)

It seems to be similar with this issue: https://github.com/vernemq/vernemq/i

[2020-09-14 07:42] ATAKing1023 commented on #1618
@ioolkos any update for this issue? thanks

[2020-09-14 08:53] ioolkos commented on #1620
@blokovi is the way the Gorilla websocket client sets up the Subprotocols compatible to non-Gorilla server?
Cowboy and Verne should both be able to handle lists of protocols. But it's weird, it's like the Socket is somehow faulty or gone already when we come to adding it to the session.

For reference, Cowboy doc:
https://github.com/ninenines/cowboy/blob/3977f2b96fb8cc2164bfe28ee094b3e661a2fad9/do

[2020-09-14 08:56] ioolkos commented on #1618
@ATAKing1023 I don't have an update and not 100% what update is expected :)
"is it possible" questions should easily be testable, at least for the most part I guess.

[2020-09-14 09:07] blokovi commented on #1620
@ioolkos  In my case, same gorilla client with list of subprotocols successfully connected with mosquitto broker. Have you tested any other client with list of subprotocols to connect to VerneMQ over ws?

[2020-09-14 10:21] ioolkos commented on #1620
Ok, guess must be a Verne side issue then. Haven't tested any WS clients lately for this though.

[2020-09-14 10:42] blokovi commented on #1620
I really don't know erlang, so I apologize in advance if this doesn't make sense, but can you check this line of code:
https://github.com/vernemq/vernemq/blob/master/apps/vmq_server/src/vmq_websocket.erl#L171

So, when SubProtocols is list then `select_protocol` should be called, but to me it doesn't look like it is called in that case.

[2020-09-14 12:40] ioolkos commented on #1620
@blokovi that's what's called a guard sequence, 2 conditions ORed (";") together, so this should work.

[2020-09-14 14:17] Roydon opened #1627 "vernemq cluster node on EKS keep getting disconnect"
### To help us save time and help you faster

Before opening a new issue, please make sure that there isn't already an open (or closed/resolved) issue reporting the same problem. Please always open a new issue rather than posting to a closed one - but please reference the possibly related old issue.

Please do not insert images of text, but add the text instead.

### Environment

- VerneMQ Version

[2020-09-14 14:18] #1627 closed

[2020-09-14 20:24] ioolkos commented on #1611
It's all about network/network interfaces. Threads that might give ideas:

https://github.com/vernemq/vernemq/issues/1593
https://github.com/vernemq/docker-vernemq/issues/236#issuecomment-688414561

[2020-09-15 08:50] Ju-Ru opened #1628 "High-Availability Support and Assumptions"
Hello, I posted the following questions as part of an old issue (https://github.com/vernemq/vernemq/issues/1577), but did not get an answer. So I wanted to bring them up again...

Just to verify my assumptions, here some statements and questions:
- Sessions are not synchronized among nodes to cope with ungraceful leaves. Having such a feature would mean some kind of copy of sessions that would be

[2020-09-15 11:31] kdaveid commented on #1594
@varnerac: This is great stuff, thanks!
@ioolkos: Thanks for building the pre-release for me. I created a docker image with your tools - worked greate too.

I can confirm that the cipher suites and elliptic curves offered by Vernemq are being restricted correctly.

### Without fix (v.1.10.4.1)
[code]

### With fix (v.1.10.5)
[code]

BTW: `secp256r1` and `prime256v1` are equivalent so you don't nee

[2020-09-15 19:47] Roydon commented on #1611
I trised setting following env
[code]

but no luck

[2020-09-15 20:04] ioolkos opened #1632 "Improve Bridge internal publish for Pull bridges"
A pull bridge will pull messages from another broker and re-publish them to local topics. The Bridge plugin uses the `vmq_reg` `direct_plugin_exports`. The bridge plugin does not configure the PublishFun with a specific QoS, so it basically uses QoS 0 for internal publishs. This might come as a surprise to offline consumers on that broker, who will not see incoming messages stored in their queues.

[2020-09-15 20:54] Roydon commented on #1611
I am using AWS EKS and each host node has 3 interface, so I tried to set `DOCKER_NET_INTERFACE` with `eth0`, `eth1` & `eth2` but no luck suppressing  following  message
[code]

[2020-09-15 23:35] elduds commented on #1632
This is a major issue for our deployment and means vernemq is effectively unviable for our requirements.

1.     Select a QoS globally for a pull bridge.
2.     Publish with the same QoS that the bridge is subscribing to the remote broker
3.     Publish with the same QoS as the original Publish

I think most administrators would expect the default behaviour to be 3, in combination with the normal

[2020-09-16 07:45] ioolkos commented on #1632
@elduds I'm evaluating all options. From what I understand, the Mosquitto bridge as an example implements behaviour 2.

Intuitively, it might be the best approach. It gives control to the subscriber and takes into account the bridge as a special MQTT pub/sub component.

[2020-09-16 09:51] ioolkos opened #1633 "Puzzle: Sometimes Retained messages seem to be skipped"
A user has sometimes seen Retained messages "skipped". The cluster will deliver the message on the normal subscription path, but for that topic, the cluster will still show the second-last retained message.

Looking for hypothesis/code path for this "puzzle". As the Retained message is missing on all cluster nodes, this doesn't seem to be related to synchronization (but it's not excluded).

Look i

[2020-09-16 14:14] ioolkos commented on #1570
This was just confirmed on 1.10.4.1, by the same use case.

@mstavrev it'd be great if you could provide more info as a comparison. It's entirely possible this affects `random` policy too. How exactly do you run your Shared subscribers?

[2020-09-16 18:14] mstavrev commented on #1570
I had never tried the 'random' option and was asking about it with the hope it could behave better than 'prefer_local'.
The setup is almost vanilla deployment of docker-vernemq (using the provided helm-chart) with the following customization:

- Only version 5 is enabled
- Only MQTTS port is enabled
- The TLS listener is configured to require client certificate for client connections with identity

[2020-09-16 23:22] jhhurwitz commented on #1628
Really interested in the replication aspect of the question above. We are in the midst of comparing MQTT brokers, and it seems that VerneMQ could really benefit from a feature like https://www.hivemq.com/docs/hivemq/4.4/user-guide/cluster.html#replication to better cope with node failure (unless I'm misunderstanding that feature)

[2020-09-17 03:39] varnerac commented on #1620
I think I found the bug. The code [here](https://github.com/vernemq/vernemq/blob/master/apps/vmq_server/src/vmq_websocket.erl#L171-L178) needs to split the `sec-websocket-protocol` header value on `,` to break down the list. I am working on a patch and tests.

[2020-09-17 07:26] ioolkos commented on #1570
Some additional notes on original case:
- once the Shared subcription is missing on the second node, re-connecting the subscriber on first node does not resolve the faulty behaviour
- Restarting node(s) seems to resolve it.
- Adding Shared subscriptions on different topics works as intended
- The Shared subscriber here is a clean_session=true, but QoS 2 subscriber.

Possible investigations:
 1. ra

[2020-09-17 07:42] ioolkos opened #1634 "Make VerneMQ compile on OTP-24 (Development version with JIT compiler)"
Currently fails, most likely due to rebar3_cuttlefish plugin.

[2020-09-18 08:23] ioolkos commented on #1632
Did a quick verification with https://github.com/vernemq/vernemq/pull/1629
This works, messages are stored offline on target broker, in case the bridge subscription is configured with QoS > 1.
This implements option 2 above.

One remaining thing: if the original Publisher sends a QoS = 0 message, the message will also be stored offline on the bridge target broker. It's quite debatable whether this

[2020-09-18 10:50] steve999lee commented on #1420
Hi again
Any update of this issue?

Do you know if it is an issue for all bridge_protocol_versions mqttv5?

[2020-09-18 20:08] varnerac commented on #1620
PR up

[2020-09-19 02:45] varnerac commented on #1594
Looks like we can close this one

[2020-09-19 03:22] varnerac commented on #1623
So, I think I know why this happening from a mechanical perspective, but I don't now enough about `vmq_ql` to fix it yet. Shouldn't be that hard.

1. [Here](https://github.com/vernemq/vernemq/blob/master/apps/vmq_ql/src/vmq_ql_query.erl#L185) we are calling `spawn_initialize_row/4` to message ourselves via `self()`.
2. Then we proceed to immediately try to `receive` it [here](https://github.com/ve

[2020-09-19 05:05] ioolkos commented on #1594
@varnerac thanks!

[2020-09-19 05:05] #1594 closed

[2020-09-21 07:49] ioolkos commented on #1628
@jhhurwitz I'd be quicker in answering if you provide information what you mean by "a feature like" and providing a link that is btw more or less unclear on how replication is done (is it to all cluster nodes? is it to 2 cluster nodes?)

VerneMQ replicates everything except delivered offline messages. (for those it has queue migration). And yes, something like mirrored queues or quorum queues migh

[2020-09-22 06:25] ATAKing1023 commented on #845
@dergraf we suppose to validate some configuration properties in vernemq.conf via Lua script, is it possible?

[2020-09-22 07:28] ioolkos commented on #845
@ATAKing1023 in the Lua Plugin, you have what the hook gives you, nothing more. So, I guess you can't do what you ask (which I'm not sure what it is exactly)

[2020-09-22 08:28] ioolkos commented on #1632
Resolved by https://github.com/vernemq/vernemq/pull/1629.
This implements behaviour 2 above, effectively normalising all messages to the QoS that the bridge subscriber wants for that topic.
As the subscriber doesn't have access to the Publisher QoS, this is the easiest to implement.

[2020-09-22 08:28] #1632 closed

[2020-09-22 15:43] varnerac opened #1636 "Manage JavaScript with npm or yarn"
### Environment

- VerneMQ Version: HEAD
- OS: any
- Erlang/OTP version (if building from source): any

### Expected behaviour

- JavaScript files are managed by npm or yarn
- Add commands like `yarn audit` to CI to catch vulnerabilities in the JS requirements
- Allow GitHub DependaBot to alert repo owner of issues

### Actual behaviour

- Minified JavaScript is stored directly in https://github.c

[2020-09-22 15:50] ioolkos commented on #1636
@varnerac I see, makes sense.
I think dependabot is enabled on all repos, but, as I understand, not catching JS files which are not dependencies.

[2020-09-22 15:56] varnerac commented on #1636
@ioolkos I am not 100% sure if it will recognize the signature of the minified JS. It may. In our repos it definitely works against yarn lock files.

[2020-09-22 19:44] jhhurwitz commented on #1628
@ioolkos, I was referring to a feature like mirrored queues, glad to hear you're thinking about it already. Thanks!

[2020-09-23 05:30] ATAKing1023 commented on #1618
This issue is addressed via a lua script authorizing the publishes. Thanks.

[2020-09-23 05:30] #1618 closed

[2020-09-23 08:30] ioolkos commented on #1363
@khodzha I'm working on this slowly here: https://github.com/ioolkos/vernemq/tree/swc_iteration_4
This is in a non-working state currently (need to make it pass the tests & more). This tries to implement the idea with a changing actor id outlined above.
I think it passes @ertanden's script, but most likely has other unfixed issues as is.

Just thought I'd let you know because you expressed interes

[2020-09-23 08:40] ioolkos commented on #1633
We need to check for message_queue length in the mailbox of the Retain SRV process & and if this is in fact a growing mailbox, explore options to introduce concurrency.

[2020-09-24 07:28] #1620 closed

[2020-09-24 11:46] ioolkos commented on #1634
Compiles. But a lot of `erlang:get_stacktrace/0` to fix in dependencies :)

[2020-09-25 05:08] natrajT commented on #735
@ioolkos mqtt_connect_timeout. Does setting this value to 10000 increase the handshake timeout?
I tried setting it to 10000 its still getting timed out if the handshake greater than 5s.

[2020-09-25 11:16] steve999lee opened #1640 "Debugging bridge connections"
More of a question than an issue so apologies if this is not the right place...

I'm having a few issues connecting 2 vernemq instances (on the same machine) via a bridge.
I have log-level debug but I am seeing no messages to tell me if the bridge connection was successful - I assume not as messages are not being received.

./bin/vmq-admin bridge show - tells me there is a bridge but I dont see an

[2020-09-25 11:22] ioolkos commented on #1640
@steve999lee what's the bridge configuration? what's your VerneMQ release version?

[2020-09-25 11:36] steve999lee commented on #1640
Thanks for the swift reply
Version was 1.10.2

Actually its working now - naturally it was my misconfiguration of the bridge.
When it did connect I saw this....

12:26:56.983 [debug] connected to: 127.0.0.1:20103

and then did see the session on the remote machine

The misconfig...

I had a mixture of settings for the same bridge

vmq_bridge.tcp.br0
vmq_bridge.ssl.br0

Fantastic broker - thankyou

[2020-09-25 12:14] #1640 closed

[2020-09-25 12:19] ioolkos commented on #1633
Ok, the above (mailbox overload) is confirmed while disk latency seems okay.
Looks like a retain_srv_sup_sup -> retain_svr_sup -> multiple supervised retain_srv processes might give concurrency. (of course needing a way to distribute the incoming messages over those processes).

[2020-09-25 13:41] steve999lee commented on #1420
Hi @ioolkos

Do you know whether this issue has been fixed, is planned to be fixed soon or if there is a workaround?
I can see a mention in the change log for 1.10.0 but the problem was still there in 1.10.3 and no mention since.

Thanks

[2020-09-25 13:45] ioolkos commented on #1420
@steve999lee need to look into it again. Most likely, this is not fixed.

[2020-09-26 13:34] ioolkos commented on #1633
Suppose we `phash2` on the topic name to map this to a certain retain_srv.
The question is what a common overload case is though: a) retains on a lot of different topics, or b) high speed updates on the same topic

[2020-09-26 14:58] sumitkumar15 opened #1641 "Unable to start the vernemq broker after building from source. vernemq/bin/../erts-10.7.2.1: Permission denied"
### Environment

- VerneMQ Version: 1.10.4.1
- OS: Ubuntu 20.04.1 LTS
- Erlang/OTP version (if building from source): Erlang/OTP 22 [erts-10.7.2.1]
- VerneMQ configuration (vernemq.conf) or the changes from the default: No changes to default config
- Cluster size/standalone: standalone

### Expected behaviour

- VerneMQ broker starts

### Actual behaviour
On running

[code]

[code]
### Steps to re

[2020-09-26 15:42] sumitkumar15 commented on #1641
I tried the build pulling code from the master branch with git & everything worked as expected and the broker is working. However when built from the downloaded source code tar.gz, I am facing the issues described above.
### Is this the expected behaviour?

[2020-09-28 11:31] steve999lee commented on #1420
Also I don't think properties are retained either but I guess  that should be a separate issue- I suppose the bridge is operating at mqtt311.

[2020-09-28 12:15] ioolkos commented on #1420
@steve999lee that's correct. The Bridge plugin is a 3.1.1 client/publisher currently. It will publish incoming v5 messages, but normalise everything to 3.1.1. Which might be acceptable, or not, of course.

[2020-09-28 12:46] steve999lee commented on #1420
Not for me - I need to preserve properties and retained flag. I'll just create my own bridge though.
Is a v5 client on the roadmap?

[2020-09-28 12:51] ioolkos commented on #1420
The VerneMQ project is always open to contributions! :)
(note that the retained flag question is a separate issue here. It should be fixed for 3.1.1 in any case)

[2020-09-28 14:57] rubengees opened #1642 "Plugins not chaining"
### Environment

- VerneMQ Version: `1.10.5`
- OS: Linux
- Erlang/OTP version (if building from source): `erlang:23-alpine`
- Cluster size/standalone: 1

### Expected behaviour

(Lua) plugins to chain when one of them returns `false`.

### Actual behaviour

Plugins do no chain and only have the behaviour of the plugin first loaded.

### Details

I wrote a `custom.lua` plugin that should add some a

[2020-09-28 16:21] ioolkos commented on #1642
Hi @rubengees
https://github.com/vernemq/vernemq/issues/1199#issue-448993989 but you have to thank the investigation of @puresilk here.

I was under the impression you'd have to "return next" in Lua script, but as per the above analysis it works when you return... nothing.
Can you check both cases?

[2020-09-29 01:27] elduds commented on #1633
I have seen this retain issue on a topic that is rarely updated (2-3 times per day), though the broker cluster is busy processing 10-15kpps. Difficult to detect on topics that are updated frequently so it may be happening on others.

[2020-09-29 07:16] steve999lee commented on #1420
Just as soon as I've taught myself erlang... :)

Does this also mean that none of the mqtt5 subscriber options work
noLocal, retainAsPublished and retainHandling

[2020-09-29 07:47] rubengees commented on #1642
I tried both and both work (I prefer `return next` though)! Thanks @puresilk and @ioolkos.

It would be _really_ great if this could be added to the docs. Would you be interested in a PR for this?

[2020-09-29 13:10] micw opened #1643 "Wrong config parameter mentioned in comment in vmq_diversity.schema"
Hello,
in https://github.com/vernemq/vernemq/blob/master/apps/vmq_diversity/priv/vmq_diversity.schema#L377-L390
The comment tells about `vmq_diversity.<name>.plugin` but the code says `vmq_diversity.<name>.file`. The comment needs to be fixed.

[2020-09-29 21:06] ioolkos commented on #1643
@micw thanks! (fixed it)

[2020-09-29 21:06] #1643 closed

[2020-09-29 21:07] ioolkos commented on #1642
@rubengees jep, thanks! :)

[2020-09-29 21:09] ioolkos commented on #1641
@sumitkumar15 Thanks, this is not specifically expected or intended, but as you see in the output, it's a permission issue. (so should be fixable on that level)

[2020-09-30 00:54] nitan2001 commented on #1622
@ioolkos Thanks for your hint.
The openssl is a little bit confused.
It works now, while the failure before was caused by the incorrect certificate.

[2020-09-30 00:54] #1622 closed

[2020-09-30 08:56] micw opened #1644 "Feature Request: File/JSON data provider or io.open for lua scripting"
Hello,
I'd like to implement file based authentication with users per mountpoint. As far as I can see, that's not possible with the default file based auth. So I tried to implement it using lua scripting. Unfortunately, io.open and related API seems not supported by the embedded lua interpreter.

So I'd be glad to see some file support for lua scripting. Either by enabling the io.open and related

[2020-09-30 09:03] micw commented on #806
Hello,
I wonder why that's closed because the script is just a workaround. If the normal webhooks would support this, it would be much easier to use and include features like caching, configuring the URLs and such.

One remark to the script above: The comment is wrong regarding passhash, because the passwort must be checked on server-side and is not processed in any way within the script.

Kind re

[2020-09-30 12:22] natrajT opened #1645 "Cluster goes down. when we add new node to cluster of 8 servers with has 330k connections"
### Environment

- VerneMQ Version:1.10.4.1
- OS:Ubuntu 16.04
- Erlang/OTP version (if building from source): 22
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone: 8

### Expected behavior
We should be able to new node to cluster without downtime

### Actual behavior
Whenever we try to add a new node to the cluster. it brings the cluster down
- Please

[2020-10-01 16:40] ioolkos commented on #1644
@micw in general, I'd be open to integrate/expose more. On the other hand, we'll always be "limited" by what Luerl actually supports from the standard library: https://github.com/rvirding/luerl/wiki/0.8-Standard-library (I don't know how up-to-date that wiki page is)
So maybe in terms of IO, you already have what's there. I don't even see io.open mentioned in above page.

How exactly are you looki

[2020-10-01 19:42] #1642 closed

[2020-10-01 19:43] #1615 closed

[2020-10-04 07:47] #1641 closed

[2020-10-05 05:06] natrajT commented on #1645
Can I get some help in understanding the below points:
1) What data gets exchanged when we add a new node to the cluster?
2) What is the tuning to take care of. so that cluster doesn't go down when we add a new node to cluster with high traffic?
3) If possible from the above error logs why the clsuter is going down when we add new node to cluster?

[2020-10-05 05:43] micw commented on #1644
Hello,
it actually seems that file io is still missing in luerl (https://github.com/rvirding/luerl/issues/83) :-(

I'd like to have a file with users + ACLs per mountpoint - basically the same that can be done with database authentication but with file as backend. The reason is that I'd like to deploy these files as configmal in kubernetes, so that I have the users as part of my configuration-as-c

[2020-10-05 05:52] ioolkos commented on #1644
@micw I see.
Robert mentions other options to load files in the thread you linked, should be worth a try.

[2020-10-05 18:05] ioolkos commented on #1363
Another (production) cluster has seen those issues:
`exit with reason no case clause matching {ok,{0, $SomeNumber}`

This is for `swc_node:event/2 line 186` which clearly expects {N, 0}, not {0, N}: https://github.com/vernemq/ServerWideClocks/blob/4835239dca5a5f4ac7202dd94d7effcaa617d575/src/swc_node.erl#L188

From within VerneMQ we only call `swc_node:event/2` once, here: https://github.com/verne

[2020-10-06 22:32] jhhurwitz opened #1647 "Differentiate offline/online queue message drops"
**Feature Request:**

Create two separate metrics for offline/online queue message dropping as opposed to the singular `queue_message_drop`

**Explanation**

If I understand correctly, currently both offline and online message drops are tracked by the shared metric `queue_message_drop`. In our use case, we care a lot more about the online queue message dropping, and it would be very useful to be a

[2020-10-06 23:06] jhhurwitz commented on #1624
I ran into this same situation today. I turned up logging to verbosity to debug and here are the logs on the node that is currently reporting a >0 drop rate:

[code]

[2020-10-07 15:12] kdaveid opened #1648 "Connection refused on metrics endpoint in docker swarm using release 1.11.0"
We have issues using metrics and api endpoint in docker swarm with the new version 1.11.0. Neither Prometheus nor any other service an reach the endpoint at port 8888 with default settings. This within docker swarm overlay network as well as from host or outside of the host.

Sidenote: If we change the publish mode `host` instead of `ingress` on port 8888 it works for any calls from the host machi

[2020-10-07 16:35] steve999lee opened #1649 "mqtt5 client doesnt receive properties for messages when clean_start = false"
### Environment

- VerneMQ Version: later than1.10.5 (built today)
- OS: Ubuntu
- Erlang/OTP version OTP 22
- VerneMQ configuration (vernemq.conf) or the changes from the default

allow_anonymous = on
listener.tcp.default = 127.0.0.1:10053
listener.tcp.allowed_protocol_versions = 3,4,5
plugins.vmq_passwd = off
plugins.vmq_acl =  on

- Cluster size/standalone: Standalone

### Expected behavior

- W

[2020-10-07 17:40] ioolkos commented on #1649
@steve999lee thanks, that's correct, we need to add properties when storing to the Message store: https://github.com/vernemq/vernemq/issues/1560

[2020-10-07 20:40] brunohorta82 commented on #1528
I have the same problem
Clean session = true
QOS= 0
<img width="1215" alt="Screenshot 2020-10-07 at 21 39 53" src="https://user-images.githubusercontent.com/9153126/95385303-af820980-08e5-11eb-9ca2-855f98daad19.png">

[2020-10-07 21:52] dusanb94 opened #1650 "Scaling up does not work after the master node restart"
### Environment

- VerneMQ Version:  1.11.0-alpine
- OS: running on Kubernetes deploymnent v1.18.8
- Erlang/OTP version (if building from source): Docker image `vernemq/vernemq:1.11.0-alpine`
- VerneMQ configuration (vernemq.conf) or the changes from the default:
  - name: DOCKER_VERNEMQ_ALLOW_ANONYMOUS
    value: "on"
  - name: DOCKER_VERNEMQ_ACCEPT_EULA
    value: "yes"
  - name: "DOCKER_VERNEMQ

[2020-10-07 21:57] steve999lee commented on #1649
@ioolkos - Ah I saw #1560 but it only mentions `user` properties. Looks like it's all properties.

Is anyone working on this or do I need to learn erlang?

[2020-10-07 22:20] ioolkos commented on #1649
Uptake on v5 is somewhat slow, so probably no hurry. But yeah, we totally need this in at some point, and any help is welcome!
(learning Erlang is fun :)

[2020-10-08 06:31] steve999lee commented on #1649
Thanks I'll take a look at the code but I'm worried that you are saying that mqtt5 support is low priority when vernemq claims to support the full mqtt specification.
I may have to revert to mqtt311.

[2020-10-08 07:05] ioolkos commented on #1649
I understand. What the project helps is probably less worry but more enthousiasm & support ;)

[2020-10-08 07:46] fracasula opened #1651 "Question: how to get a list of all active subscriptions?"
Hi everyone,

Does anybody know of a way to get a list of all active subscriptions from a running VerneMQ node?

I have clustering enabled with 3 nodes (local Docker Compose setup) and I'm debugging a split brain issue where one of the clients connected to a node that goes down successfully reconnects, it sends a `SUBSCRIBE` to re-establish its old subscription and it receives the correspondent `S

[2020-10-08 08:07] ioolkos commented on #1651
@fracasula thanks. `sudo vmq-admin session show --help` or maybe the MQTT-Explorer tool might help you. https://mqtt-explorer.com/

If you test this in a local environment, where you have access to Erlang, you could run an Observer GUI, like this: `erl -setcookie vmq -name obs@127.0.0.1 -s observer -hidden`
then connect to one of the Verne nodes and inspect the ETS tables that represent the subscr

[2020-10-08 08:22] fracasula commented on #1651
Hi @ioolkos, thanks! That's very useful information already. I didn't try the `session show` with the `--help` flag. I'll have a play around with that and the MQTT explorer and look into the Observer GUI if needed.

My VerneMQ version isn't the latest unfortunately I'm running on 1.10.2. I'll try to upgrade asap. Also I haven't configured the `vmq_swc` protocol, I'm doing: `metadata_plugin = vmq_p

[2020-10-08 08:29] ioolkos commented on #1651
You possibly run into a thing fixed here (in 1.10.4): https://github.com/vernemq/vernemq/pull/1557
This was a race condition for subscribers re-connecting after a re-boot when the server was loading subscriptions from disk while fast clients were reconnecting.

Be aware, that you'll still get a SUBACK but with response code 128 ("failure"). As an MQTT client you need to take that into account, and

[2020-10-08 08:30] fracasula commented on #1651
Thanks @ioolkos I'll look into it. Much appreciated!

[2020-10-08 08:46] ioolkos commented on #1650
@dusanb94 puzzled.
A couple notes: Order of nodes starting as per Kubernetes, discovery node for nodes joining the cluster.
The error itself shows in a call to a RAM structure where Verne wants to get the cluster state (= what the other nodes and their IDs are). This RAM structure (ETS table) doesn't seem to be around. Either because it is not *yet* there, or because it is *already* gone.
The firs

[2020-10-08 09:03] ioolkos commented on #1648
@kdaveid do you see the same behaviour with the Alpine Docker?
Btw, I think the `net-tools` package should be installed on both images.

[2020-10-08 11:01] kdaveid commented on #1648
We have the same behaviour with alpine, yes.

[2020-10-08 13:04] steve999lee commented on #1649
@ioolkos - could you let me know the procedure for contributing a fix?

[2020-10-08 15:30] steve999lee commented on #1649
I have a possible fix...I guess I need to push my branch and create a pull request?

[2020-10-08 15:42] ioolkos commented on #1649
@steve999lee :)
You need to fork VerneMQ into your Github account, create a branch there, and PR from there to VerneMQ master.

[2020-10-08 16:21] fracasula commented on #1651
@ioolkos with the latest of VerneMQ I cannot reproduce the issue anymore :tada:
While using `1.10.2` I did run `vmq-admin session show` with `--topic` and it showed no subscription whatsoever for my client even though it got back a `SUBACK` (which seemed correct, with no failure code). So it could be that I indeed ran into the issue you mentioned.

While testing with the latest version though, I r

[2020-10-08 16:40] ioolkos commented on #1651
@fracasula Things might be a little confusing.
Maybe it's easiest to imagine that a VerneMQ cluster is clustered on 2 different layers. One is the proper clustering layer, where metadata is exchanged. You should see the status of this layer with `vmq-admin cluster show`. My guess is that you see a fully working cluster there.

The logs you see are from the second clustering layer, where data (MQTT

[2020-10-08 19:11] dusanb94 commented on #1650
I was trying to scale up and down the cluster described in the issue (but different size, due to scaling) and I noticed that the problem is not isolated to node 0. I updated the issue. However, I did not notice any pattern: after scaling up and down successfully, killing some nodes manually, and waiting for them to recover, killed k8s pods with corresponding nodes fail to recover at some point wit

[2020-10-08 19:22] ioolkos commented on #1650
One rule to take into account: a node (identified by the same nodename) that you have made leave the cluster cannot join the cluster with its same old state. It can join the cluster with empty state though.

How do you scale up and down? do the nodes that go down actually leave the cluster? (this is probably what you want). Then they join or auto-join. The same thing should happen with a pod resch

[2020-10-08 19:46] dusanb94 commented on #1650
Yes, when I don't kill k8s pods by force (`kubectl delete pod`; I do that to simulate pod failure), scaling works and I can see nodes joining and leaving the cluster. Is it possible that the state is not empty because the node is reusing an old persistent volume claim (that may previously be assigned to the killed node with the same nodename)?

[2020-10-08 20:08] ioolkos commented on #1650
Yeah, I think that's what could happen.

[2020-10-08 21:56] pedropadilha13 opened #1652 "Question: Using MongoDB Query Operators in Lua Scrips"
Hello everyone!
I need to use MongoDB Query Operators (such as `$matchElem` and `$or`) in both my `my_auth_on_publish` and `my_auth_on_subscribe` functions. I have been trying for 2 days, still no luck...

My latest attemps looks like this:

[code]

Is it even possible to use $ operators in the mongo implementation used by VerneMQ? If so, any ideas on how to do it?

Thanks!

[2020-10-09 08:31] fracasula commented on #1651
@ioolkos

Once I'm able to get the cluster in this state the `cluster show` command shows a cluster made of 2 nodes only. It reports the same output whichever node I call the command from.

[code]

Basically `vernemq-2` (i.e. `172.18.0.9` is never shown as part of the cluster).

It doesn't resolve automatically, usually not even after a restart of the Docker containers. I have to completely wipe t

[2020-10-09 08:33] ioolkos commented on #1652
@pedropadilha13 Thanks.

That's the key question, and my guess is no. (haven't checked though).
We use the mongodb-erlang driver, which was formerly officially supported by MongoDB but now is community supported only. So new features are not actively added to the driver currently.

[2020-10-09 08:50] ioolkos commented on #1651
Let's make sure that we understand what "killing a node" means here. We need to understand this from the perspective of VerneMQ, not Docker (only). That is: does "killing a node" make the node leave the cluster? does starting the same node make it join the cluster? does it so with pre-existing state, or not? (is it attached to the same persistent volume, or not).

In general, if a node leaves the

[2020-10-09 09:06] fracasula commented on #1651
By killing a node I merely meant restarting the container. This is what happens when I stop the `vernemq-2` container:

#### vernemq-2 logs

[code]

And this is what happens when I `docker start vernemq-2`:

#### vernemq-2 logs

[code]

Of course doing `docker restart` is the same as `docker stop` and then `docker start`.

It definitely tries, doesn't seem to be able to though.

Yes, it is. I wrot

[2020-10-09 09:27] ioolkos commented on #1651
That RPC error during stopping should not be there. It's trying to lookup the `vmq-admin node stop` command, but Verne seems already halfway down.

The `docker stop` command sends a SIGTERM, right?  I suppose it would sends a Kill signal after a timeout, and maybe Verne is over that timeout in that case here?

[2020-10-09 12:39] pedropadilha13 commented on #1652
Hi @ioolkos, thanks for the quick reply!

I actually just found this [issue](https://github.com/comtihon/mongodb-erlang/issues/168) from 3 years ago, basically confirming $ operators are supported.

I guess the problem must be somewhere in the conversion from Lua Tables to Erlang Maps (definitely don't take my word for it, seeing as I'm neither a Lua nor Erlang developer).

If there's no way to do

[2020-10-09 13:00] ioolkos commented on #1652
@pedropadilha13 okay, didn't know that!
Do you actually see some answers from MongoDB? using log.info or print statements because getting feedback from Luerl layer is difficult.
Also, you can't just load other Lua libraries into the Luerl interpreter, so just using another driver won't work unfortunately.

[2020-10-09 14:44] fracasula commented on #1651
`docker stop` sends a `SIGTERM` and after a grace period of 10 seconds (default) it sends a `SIGKILL`. I tried increasing the grace period too (to 90 seconds) but truth is that not even 10 seconds elapsed in the first place. The application terminates quite quickly, I haven't timed it but looks like less than a second.

[code]

[2020-10-09 15:59] ioolkos commented on #1651
@fracasula hm, okay. Do you always see that failed RPC call logged, even for working restarts?

[2020-10-09 16:04] fracasula commented on #1651
Yes, I do, good point :+1:

So, going back to the 3rd node not being able to join back into the cluster, even if it has an old state, is there anything we can do to reset it beside wiping its volume? For example on Kubernetes we're deploying VerneMQ as a StatefulSet with these volumes:

[code]

Looks like the same could potentially happen there, right?

[2020-10-09 16:24] pedropadilha13 commented on #1652
I do, here it is:

`
2020-10-09 16:16:58.276 [error] <0.439.0>@vmq_diversity_mongo:find_one:265 can't execute find_one [{<<"publish_acl">>,[{<<"$elemMatch">>,[{<<"$or">>,[{1,[{<<"pattern">>,<<"accounting/device:uplink/5f72443b0eac6e4064a286a8">>}]},{2,[{<<"pattern">>,<<"accounting/#">>}]}]}]}]},{<<"username">>,<<"username">>}] due to exit:{{{function_clause,[{bson_binary,put_field_accum,[1,#{<<"pa

[2020-10-11 00:36] carpino opened #1654 "VerneMQ concurrency model"
I'm interested in knowing what is the concurrency model in VerneMQ. I don't have found information in the documentation on how the concurrency is managed. It is used a thread for each connection, it is used a thread pool with fixed size? Tide to this, does publishing influence the receiving? That is, in case of high number of publishing per second is the receiving throughput influenced by this? Th

[2020-10-12 07:57] ioolkos commented on #1651
@fracasula yes, I think this could happen with Kubernetes too.
There's a certain mismatch between Docker and Verne that we need to resolve. (Probably going to need help on this).

https://github.com/vernemq/docker-vernemq/blob/21497c31d02b990a8d0522719b17dc7be08fe78d/bin/vernemq.sh#L150
Getting a SIGTERM, the Verne node will go ahead with a cluster leave. The reason for that is that when you kill

[2020-10-12 09:39] ioolkos commented on #1650
@dusanb94 let me know in case you have more findings.
I'll count all this under the query for a better operational model to run VerneMQ on Kubernetes. There's a certain mismatch in operational expectations from Kubernetes and Verne, when a Pod terminates (might even be for reasons unrelated to VerneMQ) etc.

If issues like that show up systematically, we might need to invest more into the Verne op

[2020-10-12 09:52] dusanb94 commented on #1650
At the moment, the only conclusion is that the issue occurs randomly when the k8s pod of the stateful set is killed. This might be due to the deployment strategy, not necessarily the Verne issue itself. I can open an issue on https://github.com/vernemq/docker-vernemq if you want. I'll keep working on it and let you know as soon as I have any new info.

[2020-10-12 18:29] Abhimanyu6676 commented on #420
Hello,
Does anyone has resolved this issue or a work around.
I am running vernemq inside a docker container,
`shared_subscription_policy = random`
But none of the subscribers getting any msg

I have 4 client with different id's subscribing to '$share/group/product/#'
And multiple devices publishing on topic 'product/....'
But none of the client is getting any msg,
However if I connect new client a

[2020-10-12 19:24] ioolkos commented on #420
@Abhimanyu6676 can you please setup the shared subscription with a command line MQTT tool like `mosquitto_sub` using the `-d` debug flag?
-> can they connect? -> can they subscribe? (what SUBACK response code do they get?) are they authorized to read from those topics, from your auth config?
Also, please check the VerneMQ logs for any clues about this.

[2020-10-13 14:59] drasko commented on #1650
I think only Verne team can help with this, this really looks like a core issue and makes K8s deployment pretty unusable in a production environment. Pods crash, this is something that can arrive in a real-world deployment (and arrives more often than expected), so there must be a recoverable system - which currently does not exist.

[2020-10-13 16:21] rubengees opened #1656 "Postgres max pool size option not honored"
### Environment

- VerneMQ Version: 1.11.0
- OS: Linux
- Erlang/OTP version (if building from source): `erlang:23-alpine`
- Cluster size/standalone: 1

### Expected behaviour

VerneMQ should use the given `vmq_diversity.postgres.pool_size` or `DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__POOL_SIZE` option to limit the database connections to the specified value.

### Actual behaviour

Upon setting `DOC

[2020-10-13 16:42] ioolkos commented on #1656
Thanks, this is a duplicate for https://github.com/vernemq/vernemq/issues/1269 which got closed without further investigation.
But, ok, so we got double confirmation that this gets 10 connection as a default.
Now the question is whether 10 is just the minimal number (for instance enforced by the PG library), or whether this doesn't respect configs at all (also for config value > 10).

[2020-10-13 18:04] rubengees commented on #1656
I tried around a bit and it seems the config is not respected at all. When I set it to 20, there were still 10 connections.

I also tried overriding this directly in a lua plugin (by copying the default postgres plugin and adding `size = 1`):

[code]

This also does not change the behaviour.

One interesting effect I saw though is, that my plugin is now run 10 times. I have a log statement at top

[2020-10-13 18:15] rubengees commented on #1656
Looks like the 10 comes from here: https://github.com/vernemq/vernemq/blob/master/apps/vmq_diversity/src/vmq_diversity_sup.erl#L109

I can't really read erlang, but it seems that this file is the culprit.

[2020-10-13 18:28] ioolkos commented on #1656
Technically, it's in the function clause for postgres: https://github.com/vernemq/vernemq/blob/0b4dc58686dc2b72f781d430b72aaf682f202ef9/apps/vmq_diversity/src/vmq_diversity_sup.erl#L74

But your totally right. The ProviderConfig there comes in over the `vmq_diversity_postgres.erl`, but `size` simply gets reset to default.

Do you want to have a go at it? Can fix it myself, but low prio ;)

[2020-10-13 18:33] ioolkos commented on #1656
Note to self: we could upgrade to and test `epgsql 4.4.0`, instead of `4.3.0`
https://github.com/epgsql/epgsql/tags

[2020-10-13 20:09] rubengees commented on #1656
Did a PR [here](https://github.com/vernemq/vernemq/pull/1657). Seems to work in my environment, but not sure if this has any unintended side effects.

[2020-10-14 09:24] ioolkos commented on #1654
Let us know when you need more information. I'm closing this in favour of discussion on Googlegroups.

[2020-10-14 09:24] #1654 closed

[2020-10-14 11:28] coder4803 commented on #1633
We have been noticing these "skips" with message bursts. Last example was that there were three messages (qos 1) published by the **same client** to the **same topic**. Messages did go through in the order they were published but when the topic was subscribed afterwards, we got the second/middle one.

I am guessing that the root cause could be that multiple threads can handle messages published by

[2020-10-14 12:36] ioolkos commented on #1633
@coder4803
thanks, jep. On the cause: I think this is an overload of the Retain server at the incoming side. Basically, filling up the backlog of that process. This is then stored via the metadata system, which also distributes the retained messages to all the other cluster nodes. (This replication is eventually consistent, in any case)

[2020-10-14 13:43] #1656 closed

[2020-10-14 13:50] fracasula commented on #1651
What about `SIGKILL` signals then? We may not always have the chance to terminate a pod/container gracefully. For example in an environment like Kubernetes the default signal for OOM (out of memory) termination is a `SIGKILL` (see [here](https://github.com/kubernetes/kubernetes/issues/40157)). In cases like that we wouldn't have the time for the node to leave the cluster gracefully and if we were

[2020-10-14 16:54] crisrise commented on #1493
Dear @ioolkos and @ahmedwahdan I have started a plugin implementation to stream all mqtt messages to kafka, still in early stage but fully testable. You can check it here https://github.com/crisrise/vmq_kafka

[2020-10-14 16:59] crisrise commented on #705
Hi @codeadict , @hanmd82 I have started a plugin implementation to stream all mqtt messages to kafka, still in early stage but fully testable. You can check it here https://github.com/crisrise/vmq_kafka

[2020-10-14 20:58] ioolkos commented on #1651
@fracasula thanks, interesting.

[2020-10-19 16:43] mladen-djordjevic opened #1658 "Unexpected behavior when using 2 listeners with different configuration"
As stated in the documentation, besides global broker configuration, there is a configuration **per listener** as well.
I am trying to use 2 listeners with different config:
- first one (name _client_, port _8888_) should use client certificates for authentication
- second one (name _basic_, port _8889_) should **NOT** use client certificates but username and password for authentication

### Envir

[2020-10-19 17:05] ioolkos commented on #1658
@mladen-djordjevic thanks... how do you actually see that the client cert is required for second case?

[2020-10-19 20:02] ioolkos commented on #1658
Actually, I see that you haven't configured server certs for the 'basic' listener at all, so this shouldn't even work.

[2020-10-20 08:50] mladen-djordjevic commented on #1658
In addition to the previous configuration, I have tried with server certs for 'basic' listener as well:
...
listener.ssl.basic.keyfile=/vernemq/data/certs/vernemq-localhost.key
listener.ssl.basic.certfile=/vernemq/data/certs/vernemq-localhost.crt
listener.ssl.basic.cafile=/vernemq/data/certs/octopus-chain.pem
...

But the outcome is the same.

[2020-10-20 09:05] ioolkos commented on #1658
@mladen-djordjevic what is your measure for the outcome? A Verne log line?

[2020-10-20 09:19] mladen-djordjevic commented on #1658
I am testing the above scenario from 2 places:
- using MQTTFX application as MQTT client
- using custom-developed Java application as MQTT client (with paho library)

So, when I try to connect to the listener that doesn't require client certificate (_basic_) in both scenarios I am receiving:
**unable to find valid certification path to requested target**

[2020-10-20 09:29] ioolkos commented on #1658
I guess you have done the same and googled that. seems to indicate that Java does not want to connect to a service with a self-signed server cert.
But then why would your first listener work, but not the second.

[2020-10-20 09:34] mladen-djordjevic commented on #1658
And the final outcome is that both listeners require client certificate for authentication and I can authenticate it on both of them. But my desired state is that I can connect to the _basic_ listener without a client certificate, but I cannot make it work on this way (yet)

[2020-10-20 12:19] ioolkos commented on #1658
Ok. That server certs are self-signed though, right?
Can you try with the `--insecure` option of `mosquitto_sub`?

I think what you want to do should work. Be aware of an additional catch: there is no per-listener configuration of authentication. Authentication is switched off or on globally, with `allow_anonymous`.

So for your second listener, you'd need that on `off`. This means for your first

[2020-10-20 13:35] michaelyaakoby opened #1659 "PubSub accross cluster using helm/k8s not working after scale-down than scale-up"
### Environment

- VerneMQ Version: 1.11.0
- OS: alpine
- Deployed on k8s using helm: `helm install vernemq vernemq/vernemq -f values.yaml`
- VerneMQ configuration, `values.yaml`:
[code]
- Client: Eclipse Paho (`org.eclipse.paho.mqttv5.client`, version `1.2.5`) using the async API

### Expected behaviour
- I'm running a test where multiple publishers and multiple subscribers are connecting to the

[2020-10-20 13:44] ioolkos commented on #1659
Thanks, do you see the same logs as mentioned in https://github.com/vernemq/vernemq/issues/586?

Can you check with the HTTP status page whether you see the expected number of subscriptions on both nodes before the scale down?

[2020-10-20 14:30] michaelyaakoby commented on #1659
Hi and thank you for the very quick response.

I've repeated the test, this time taking note of the logs and watching the HTTP status page.

1. after cluster creation (`helm install vernemq vernemq/vernemq -f values.yaml`) - test is running and all is good
    - HTTP status:

1. After scaling down to 1 pod (`k scale statefulset vernemq --replicas 1`):
    - HTTP status:

    - Dying pod's (vernemq

[2020-10-20 15:19] michaelyaakoby commented on #1659
Also, I verified that the nodes can reach each (`curl vernemq-0.vernemq-headless.iotp-vernemq.svc.cluster.local:8080/status` from `vernemq-1` and vice versa)

[2020-10-20 15:21] ioolkos commented on #1659
Can you find out/show number of "Subscriptions" before and after test on the HTTP status page? or using `sudo vmq-admin metrics show | grep subscriptions` for both nodes.

[2020-10-20 15:35] michaelyaakoby commented on #1659
1. After cluster is created and the test is running ok, there are 32 subscriptions (with 18 clients on one pod and another 14 in the other pod) - this is expected.
1. After I scale down, there are still 32 subscriptions 32 online clients connected to the surviving pod - also expected.
1. After I restart the test, there are only 25 subscriptions with 19 online clients on one pod and another 13 in t

[2020-10-20 15:37] michaelyaakoby commented on #1659
What does it mean that the "routing score" is 0/0 - sounds like a routing issue...

[2020-10-20 15:46] ioolkos commented on #1659
Routing score is a proportion of how many message were delivered locally vs to a cluster node, in the last 10 seconds, I think.

Ok, so from above stats the situation seems clear: we have all the clients online, but we miss 7 subscriptions.
Can you somehow check any SUBACK response codes when your are subscribing?

Can you add a separate step, after you rescale up to 2 nodes. Stop there, wait and

[2020-10-20 17:12] michaelyaakoby commented on #1659
Not sure what do you mean by a separate test - after I re-scale up, I wait for k8s to show the two pods as ready and for the HTTP status to show that there are two nodes with 0 clients and 0 subscriptions.
Only than I run my test.

I've changed the code to log the response code of the subscribe request (using paho, v5, async's `IMqttToken.getReasonCodes()`) and it's always *0* (before and after re

[2020-10-20 17:18] michaelyaakoby commented on #1659
I tried again after re-scaling up, this time I changed my test's topics, so the subscriptions will not overlap anything from before the scaling and the issue is reproduced, however looking at the HTTP status page, this time its showing 32 subscriptions.

[2020-10-20 17:27] michaelyaakoby commented on #1659
Ok, adding a 1m sleep between the time the test finishes subscribing (32 clients, 32 subscribers) and the time it starts publishing.
This seems to solve the issue.

[2020-10-20 18:59] ioolkos commented on #1659
Yeah, state in a VerneMQ cluster is eventually consistent, although a minute in that case seems quite "eventually" :)
Maybe this is missing the first sync for some reason, and then this is actually anti-entropy kicking in here.

[2020-10-20 21:24] michaelyaakoby commented on #1659
Makes sense (I can probably find a shorter time than a minute for this...).
Are there any "tunables" I can try that may affect this?

[2020-10-21 21:46] harikrishhb commented on #303
any update on mongo cluster ?

[2020-10-22 06:46] ioolkos commented on #303
@harikrishhb work on MongoDB cluster support has stalled, at least currently. Open to contributions, but it's kind of a complex issue. But that's what I think :)

Maybe @codeadict can share some further insights, as he seemed to have taken a look into it too a while back.

[2020-10-22 10:57] michaelyaakoby commented on #1659
WIll dig for tunables sometime later, thanks for the help.
Closing this.

[2020-10-22 10:57] #1659 closed

[2020-10-23 04:13] ducpx opened #1660 "Python loss message when on_message function handling message too much time"
I used the default config on the one vernemq server with the latest version.
The python worker subscribes to all topics. Publishers publish a message to the topic itself. In on_message of the worker to spend a long time handling message. If other publishers send a message while the worker handles, the worker will lose the message.
Do you have any idea about the issue?

[2020-10-23 06:03] ioolkos commented on #1660
@ducpx thanks, I'm not sure how to help here, as `on_message` is a callback in the client library, not the server. You're likely using the Paho Python client, so maybe investigating this over here https://github.com/eclipse/paho.mqtt.python will be quicker.

[2020-10-23 06:06] ducpx commented on #1660
@ioolkos yep, I use paho lib to test publisher and subscriber. The worker is the subscriber.

[2020-10-23 10:38] #1660 closed

[2020-10-24 08:54] achandana opened #1661 "Changed MongoDB lua script need confirmation on the impact of it"
### Environment

- VerneMQ Version:vernemq/vernemq:1.10.3
- OS:Kubernate
- Erlang/OTP version (if building from source):N/A
- VerneMQ configuration (vernemq.conf) or the changes from the default:
- Cluster size/standalone:3nodes (as tested)

We have enabled the DB authentication for Vernemq. As per the document for DB authentication client id is mandatory.
We are using Fiware IoT agent to receive

[2020-10-24 13:51] ioolkos commented on #1661
Functionally VerneMQ doesn't care what you do in an auth plugin. The broker component just needs an answer whether some action is allowed or not.

[2020-10-26 12:25] achandana opened #1662 "Viewing Unauthorized clients using vmq-admin command"
### Environment

- VerneMQ Version:1.10.3
- OS:EC2 instance
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default
- Cluster size/standalone:

Need help on how can we find the unauthorized clients try to connect Vernemq using vmq-admin

[2020-10-27 09:37] ioolkos commented on #1662
@achandana You can't find unauthorized clients using `vmq-admin`. (VerneMQ would need to store unauthorized ClientIDs for that, which it does not, of course).

You can check the Verne logs for warnings for rejections `due to no_matching_hook_found` or `due to invalid_credentials`. You should see the subscriber ID there.

[2020-10-29 05:18] elduds opened #1663 "Broker drops messages for clients with offline queue > max_online_messages"
This is a continuation of the discussion on vernemq-users mailing list:

(https://groups.google.com/g/vernemq-users/c/H59b4ygcbm8/m/2z_9Ygv2AgAJ)

### Environment

- VerneMQ Version: 1.11.0
- OS: Ubuntu 18.04 amd64
- Erlang/OTP version (if building from source): all
- VerneMQ configuration (vernemq.conf) or the changes from the default
max_online_messages = 75000
max_offline_messages = 76276800

#

[2020-10-29 08:20] #1662 closed

[2020-10-29 08:20] #1661 closed

[2020-10-29 09:34] ioolkos commented on #1663
Thanks, @elduds.

We have a blog post here on improving startup time after a broker reboot: https://vernemq.com/blog/2019/07/31/vernemq-startup-time-improvements.html
This is not the same situation as described in the current issue, but somewhat related. It seems that there is one more optimisation we should do. We do batch or "stream" the delivery from the loaded online queue to the re-connecting

[2020-10-29 17:37] joliver82 opened #1664 "vmq-admin not working on an IPv6 cluster"
I've setup a cluster with two nodes using ipv6

### Environment

**VerneMQ Version**: 1.10.0
**OS**: Dockerized alpine 3.9.4
**Cluster size**: 2 nodes

**VerneMQ configuration**:

Just changed listeners to the proper IPv6 addresses and added "-proto_dist inet6_tcp" to vm.args for erlang distribution to listen to ipv6

Node1 vernemq.conf:
listener.tcp.default = 2f01::8:1883
listener.vmq.clustering

[2020-10-29 17:57] ioolkos commented on #1664
@joliver82 thanks, good catch. Need to see how to make the `vmq-admin` script and the RPCs it's doing understand IPv6.

[2020-10-29 21:14] joliver82 commented on #1664
Thanks @ioolkos If you need any further testing just ask. Just in case it helps you, each vmq-admin execution generates traffic to 127.0.0.1:4369 (not ::1), the connection is established but I altough don't know what happens inside, I think the issue could be there...

[2020-10-30 16:26] westforkfab opened #1665 "Issue with Authentication and Authorization with mysql"
### Environment

- VerneMQ Version: release,"vernemq","1.10.4.1","10.7"
- OS: Linux (Linux e1554ba7b619 5.8.14-200.fc32.x86_64 #1 SMP Wed Oct 7 14:47:56 UTC 2020 x86_64 GNU/Linux)
- Erlang/OTP version (if building from source):
- VerneMQ configuration (vernemq.conf) or the changes from the default

[code]

- Cluster via haproxy (2 nodes) using Docker
Form docker-compose.yml
[code]

### Expected be

[2020-10-30 16:43] ioolkos commented on #1665
In your mosquitto commands, you're connecting to localhost in one case, to IP in another case. Don't know if that's what you want?
Also `-i ENGINE` means you use the same ClientID for both sessions. This will race.

[2020-10-30 21:50] westforkfab commented on #1665
@ioolkos

I was able to get it working disabling one cluster. Basically inside the **docker-compose.yml** file I disabled one vernemq node. With this change, the broker works meaning that it authenticates the clients from mysql and the message published are received by the subscriber, even it the clientid/username are the same for subscriber/publisher as you mentioned above.

With both nodes enabl

[2020-11-01 16:33] ioolkos commented on #1664
Need something similar, so that CLI (`vmq-admin`) can work over IPv6
https://www.rabbitmq.com/networking.html#distribution-ipv6

[2020-11-02 14:37] westforkfab commented on #1665
I fixed the issue.
In the second vernemq node I added the "join" to the first node. Basically I was missing the following:

`DOCKER_VERNEMQ_DISCOVERY_NODE: "IP_ADDRESS_OF_THE FIRST_NODE"`

So now I have a vernemq cluster with two nodes using mysql to authenticate the clients.

[2020-11-02 14:37] #1665 closed

[2020-11-02 18:14] ioolkos commented on #1664
@joliver82 could you test PR https://github.com/vernemq/vernemq/pull/1666?
ie. check if calls like this work:

`sudo vmq-admin session show -kernel proto_dist inet6_tcp`

[2020-11-02 20:01] iandriyanov opened #1667 "WSS doesn't work."
### Environment

- VerneMQ Version: 1.10.1
- OS: Ubuntu server 18.04.5
- Erlang/OTP version (if building from source): erts-10.2.3
- VerneMQ configuration (vernemq.conf) or the changes from the default
[code]

### Expected behaviour

- Open wss port and accept connections

### Actual behaviour

- Port are open, but noone client can't get connect.

[code]

[2020-11-02 20:47] dunyakirkali opened #1668 "Instructions from `VerneMQ on Kubernetes` don't work on GKE"
I'm trying to install VerneMQ on GKE using the method suggested on `VerneMQ on Kubernetes`

However I get the following error:

[code]

Are the docs outdated or am I doing something wrong?

[2020-11-02 21:07] ioolkos commented on #1668
Context is probably this: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

There's also breaking changes in operator-sdk: https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.0.0/
This is unrelated to your issue, but just to create awareness.

I'm getting tired of all this K8s deprecation business...
Help is more than welcome though :)

[2020-11-03 00:48] atlantis opened #1669 "How to administer VMQ when hosted in Fargate/other containerized platforms with no SSH access?"
I'm sorry if I'm missing something, but I've read your documentation and can't figure out how to administer a VMQ cluster that's running in Fargate, since to enable the HTTP management API I need to run vmq-admin on a node that's already connected to the cluster, but because I'm using Fargate, I can't connect directly to a running container and get a shell (since the VMQ nodes don't run sshd, nor

[2020-11-03 06:50] ioolkos commented on #1669
Hm, seems we really have to include something as proposed in this PR: https://github.com/vernemq/docker-vernemq/pull/197

I understand Fargate is a managed service where you can't `docker exec` into containers but this creates problems for a whole class of applications. Can't go get log files, can't use a command line interface. Can't re-configure an application at all.
Living the devops future, a

[2020-11-03 07:01] atlantis commented on #1669
Yes! https://github.com/vernemq/docker-vernemq/pull/197 would do it. If I can get a password set then I should be able to use the HTTP management API just fine after that (I do have network access to each container - just not the ability to `ssh` or `docker exec` into a running container).  The problems you mentioned are definitely hurdles... Logging becomes necessarily centralized, which isn't a

[2020-11-03 07:07] atlantis commented on #1669
For now I'll manually apply that patch you mentioned, so feel free to close this issue or keep it open - whatever's more helpful to you.  Thanks much!

[2020-11-03 13:05] joliver82 commented on #1664
Just tested it and I'm getting the same response (not responding to pings)

[2020-11-03 13:11] ioolkos commented on #1664
@joliver82 thanks for testing. okay... so this was the wrong approach :)

[2020-11-03 14:06] ioolkos commented on #1667
@iandriyanov can you try configuring the certs for 'wss' even if it means repeating the same lines as for SSL:
[code]

[2020-11-03 17:47] mladen-djordjevic commented on #936
Hi @ioolkos,

I have tested TLS 1.3 on VerneMQ versions 1.10.4.1 and 1.11.0 and **I wasn't able to make it work with TLS 1.3**.

### VerneMQ configuration
I didn't find any TLS version reference in the official VerneMQ documentation. Inspecting _vernemq.conf_ file I saw this part:
`## Configure the TLS protocol version (tlsv1, tlsv1.1, or tlsv1.2) to be`
`##`
`## Default: tlsv1.2`
`##`
`## Accepta

[2020-11-03 18:05] ioolkos commented on #936
Hi @mladen-djordjevic there's no support for TLS 1.3 in the packages, as they are compiled with OTP 22.3.
TLS 1.3 is supported from Erlang OTP 23.0 upwards. If you want to give this a try, you'll need to compile Verne with OTP 23.0.

[2020-11-03 19:01] mladen-djordjevic commented on #936
@ioolkos  thank you for the info. If I decide to go with compiling, I'll post the result here.

[2020-11-03 19:18] ioolkos commented on #936
@mladen-djordjevic great, thanks. I think TLS 1.3 should work, although no further testing has been done. So it could still be that see issues surfacing due to protocol differences. Let's see.

[2020-11-04 02:42] nguyenduybinh commented on #809
i have the same issue with vernemq 1.11.0 latest, have any solution for this issue?

[2020-11-04 04:46] nguyenduybinh commented on #809
@ioolkos @dergraf

[2020-11-04 06:49] dunyakirkali commented on #1668
@ioolkos thnx for the swift reply. I'll give it a try tonight and if I get it to work I'll make a PR to the docs repo to add additional information.